[2015-03-10 19:53] niemyjski opened #1 "Silverlight has issues posting errors and getting project settings."
I noticed two issues with the latest client when targeting Silverlight. The first issue is a security exception is thrown when posting an error but doesn't happen when debugging (only in release mode). I was able to track down the following stack trace:

	System.Security.SecurityException occurred
	  Message=Security error.
	  StackTrace:
			  at System.Net.Browser.ClientHttpWebRequest.EndGetRespo

[2015-03-10 20:23] niemyjski commented on #1
I believe this issue is a result of not having the following configuration: http://stackoverflow.com/questions/8300407/silverlight-httpwebrequest-securityexception

[2015-03-12 22:48] CyberSinh opened #2 "Serializer doesn't special case abbreviations."
When I use the EventBuilder.AddObject method, with an object containing a dictionary<string, int>, I see on Exceptionless (Extended Data) that the key of the dictionary is changed (eg. "MP3" -> "m_p3", "FLAC" -> "F_l_a_c"). I use latest nuget package Exceptionless.Wpf.

Thanks

[code]

[code]

[2015-03-13 23:44] niemyjski commented on #2
I'll take a look into this. It appears to be a bug in the ToLowerUnderscoredWords method:

https://github.com/exceptionless/Exceptionless.Net/blob/fbdf657c968e8f5e819b1593304649e0ce8f2725/Source/Shared/Extensions/StringExtensions.cs#L18-L33

Is there any chance you could submit a unit test and patch for this?

[2015-03-13 23:59] CyberSinh commented on #2
Before trying to fix it, can you explain me what that method is supposed to do and in what context do you use it?

Thanks.

[2015-03-14 13:54] niemyjski commented on #2
It's supposed to break on Uppercase and and convert a worded string into lower case with a separator of _.

*Examples:*
[code]

The issue is that it's not taking into account abbreviations like MP3 or IP Address.
[code]

[2015-03-14 22:21] CyberSinh commented on #2
I fix this bug and sent you pull request (with fix and unit tests).

[2015-03-16 18:53] niemyjski opened #4 "Add additional logging when an error occurs while submitting an event."
You currently do not know why an event was not submitted. The only message you get is from the AggregateException.

[code]

[2015-03-16 18:58] niemyjski commented on #2
Awesome, my only concern is that although the regex route is clean, it has a very good chance of being really slow compared to a for loop. This code will run to serialize every property of every event and needs to be lightning quick. Could you update the serializer tests to check the before and after implementation after 10k iterations of a complex event to see the impact?

[2015-03-16 18:59] niemyjski commented on #2
If there is an impact we'd need to convert this to a for loop, which might be better in the long run (thoughts?)

[2015-03-16 20:32] CyberSinh commented on #2
I made some benchmark (on my old laptop) :
http://pastebin.com/XUxT8qAm

For 10k iterations:
- old buggy code (with for loop) : 10 ms
- new regex code : 140 ms
- new regex code (with RegexOptions.Compiled) : 80 ms

So, the new regex code, with RegexOptions.Compiled seems to be the best way.
80 ms for 10k iteractions should be imperceptible for user in typical use.

[2015-03-16 23:00] CyberSinh commented on #2
I realized that RegexOptions.Compiled is not an option available for portable assembly. However, 140 ms for 10k iterations should be fine.

What do you think?

[2015-03-16 23:06] niemyjski commented on #2
I don't think regexes will work to be honest.  This code needs to run server side and client side and be very performant. It will be deserializing and serializing everything. 70ms adds up quick esp when you have millions of events

Sent from Outlook

On Mon, Mar 16, 2015 at 4:00 PM -0700, "CyberSinh" <notifications@github.com> wrote:

I realized that RegexOptions.Compiled is not an option availabl

[2015-03-16 23:40] CyberSinh commented on #2
I didn't know the algo should be used in server side too. My fix targets only the client library (without millions of events to process).

[2015-03-17 14:31] niemyjski commented on #2
Yeah, I'm just thinking you may be logging all trace messages and on a busy app (client side client) could see thousands of events a minute, so every little bit helps as it's less work the client has to do and more for your app.

[2015-03-17 14:32] niemyjski commented on #2
I think we may have had code that detects abbrs in the 1.x codebase but we'd have to look. Basically, I'd just check (current char is upper case and the previous character is uppercase then don't prepend a _

[2015-03-17 15:36] wgraham17 opened #5 "ExceptionlessClient.Default.Register() throws a TypeInitializationException on machines with .NET Framework 4.0 Client Profile only"
It appears that the .NET PCL library fails to load (cannot find System.Core 2.0.5.0) on machines with .NET Framework 4.0 Client Profile installed

Stack trace:

Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.TypeInitializationException
Stack:
Server stack trace:
at TinyIoC.TinyIoCContainer..ctor()
at Exceptionless.Excepti

[2015-03-17 15:38] niemyjski commented on #5
I need to fire up a clean Windows 7 box and do all the updates (minus .NET 4.5.x) and see if I can reproduce.

[2015-03-17 15:38] niemyjski commented on #5
We should also look into replacing the DI system at launch if we are using the full runtime.

[2015-03-17 15:39] niemyjski commented on #5
Regardless, we shouldn't ever crash. The app should just disable itself.

[2015-03-17 22:14] CyberSinh commented on #2
Hi Blake,

I am not easily discouraged. ;-)

I replaced the regex code by a for loop implementation in my last commit.
The 10k iterations only takes 15 ms now.

So, performance is much better but the code is less elegant... Hope you will find the code useful.

[2015-03-17 22:30] niemyjski commented on #2
Awesome! Thank you, it mwans a lot. I've left some comments on the commit. Also, have you had a chance to sign our cla (https://www.clahub.com/agreements/exceptionless/Exceptionless)?

[2015-03-18 08:54] CyberSinh commented on #2
CLA signed and comments responded.

[2015-03-18 16:22] niemyjski commented on #2
Thanks, I'll try and accept this pull request soon(by the end of the week). I need to pull this down and do some testing server side to ensure nothing else is affected.

[2015-03-22 17:43] CyberSinh opened #6 "ExceptionlessClientExtensions.Startup override ISubmissionClient previously set by user"
Hi,

In the ExceptionlessClientExtensions.Startup method, the default ISubmissionClient is registered even if the user has set a custom ISubmissionClient.

I set my ISubmissionClient before calling client.Register(), so I lost an hour understanding why my ISubmissionClient was not used while submitting events.

It's because Register() --> Startup() override unconditionally the ISubmissionClient:
[

[2015-03-22 18:02] ejsmith commented on #6
Yeah, I think that would be great. Would you mind submitting a pull request to make that change?

[2015-03-22 22:23] CyberSinh commented on #6
The DependencyResolverExtension already use a fallback system to return default IService if one is missing.

[code]

So, do you know why registering IService in the ExceptionlessClientExtensions.Startup method is required?

[code]

Thanks

[2015-03-22 22:28] niemyjski commented on #6
Because the portable library has very basic implementations while the ones in the startup method in the extras project has a "full" implementation. For example Plc doesn't support proxies or the ability to parse stack traces while the extras ones can. We could argue that we shouldn't be set by default and that the startup method should only set one if one isn't defined

[2015-03-22 22:32] niemyjski commented on #6
But I'm not sure what would get resolved if you don't register a default one, the extension methods good for getting an instance but that's never used during object construction

[2015-03-23 00:15] ejsmith commented on #6
I think we can not set the default one and then only do a registration if there isn't one defined.

[2015-03-23 00:21] CyberSinh commented on #6
Thanks for the precision.
Calling ExceptionlessClient.Default.? is sufficient to register all default services.
I have just commit a fix in my PR.

[2015-03-24 13:49] niemyjski commented on #6
Thanks, I'll take a look into this.

[2015-03-25 20:55] niemyjski opened #7 "Error adding the exceptionless configSection in VS2010"
Windows 7 Professional
Visual Studio 2010 Premium
Paclage Manager Console Host Version 2.8.50926.602

![image](https://cloud.githubusercontent.com/assets/1020579/6835215/317cb9e6-d307-11e4-8691-a8651b59b4bc.png)

[2015-03-25 20:55] niemyjski commented on #7
This appears to only be an issue in VS2010 and possibly 2012 if the web.config doesn't contain a config section. I think it has something to do with the powershell version as I can't reproduce this issue on Windows8/VS2013

[2015-03-29 20:02] azchrisf opened #8 "Add expander showing actual Exception"
It would be great to have an expander button (either horizontal or vertical, vertical being proffered) that would expand the dialog and show the actual Exception that occurred in a read-only textbox.

This could include additional info such as Date/Time, machine name, etc.

This would be good for advanced and curious users.

[2015-03-30 14:52] niemyjski commented on #8
I think we should also have something like this. I think it would be good to show off all data that will be sent. Would you mind submitting a pull request for this? I think we should have a link button (click here to see...) and it shows a dialog with the content being sent.

[2015-03-30 21:29] CyberSinh commented on #2
Hi Blake,
The PR has not been merged yet. Do you have any issue with the code?

[2015-03-30 21:56] niemyjski commented on #2
Hello, yes I found some issues and commented on them here: https://github.com/exceptionless/Exceptionless.Net/pull/3 I should have commented on the issues here (my bad)

[2015-04-02 15:44] kellyelton opened #9 "Log4net client does not honor a LevelEvaluator"
So inside of a log4net appender you can add something like this

    <appender name="exceptionless" type="Exceptionless.Log4net.ExceptionlessAppender,Exceptionless.Log4net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %property{version} %property{username} [%thread] %logger - %message%newline %exception"/>
      </layout>
      <evaluator typ

[2015-04-02 17:14] niemyjski commented on #9
What would the new config look like? Is there any reason you'd want two different appenders? Seems like the buffered would just work all the time. Is there any extra configuration you'd need between the two? Can we tell the buffered one to wait 5 seconds or until you have 5 log messages before you create the log messages?

[2015-04-02 17:21] niemyjski commented on #9
Should the readme also be updated to talk about filtering via a threshold?

[2015-04-02 17:22] kellyelton commented on #9
The config would be the same except you would specify the buffered appender. Then you would be able to use some other functionality, such as the evaluator or BufferSize etc.

The reason using an evaluator is nice with the buffered appender, is that you can say, "If we get an `error` level event, flush the past X number of log events"...Where as with a standard `threshold` setting, it only sends th

[2015-04-02 17:25] niemyjski commented on #9
We already buffer them via our queue implementation. I'm just wondering if people will find our BufferedAppender if we don't ever mention it. Seems kind of crazy that you can't filter out by log level unless you use a BufferedAppender

[2015-04-02 17:27] kellyelton commented on #9
You can filter, it's just with the evaluator, it basically says "Send all previous X log messages if we get triggered by a specific event type, such as an Error"

The nice thing is that instead of only getting ERROR logs, you can get some context, like the DEBUG and INFO and WARNS leading up to it.

[2015-04-02 17:28] niemyjski commented on #9
Ah, that makes much more sense.

[2015-04-02 17:28] #9 closed

[2015-04-02 22:40] ejsmith commented on #9
It sounds like you are pretty familiar with this area @kellyelton. Do you want to submit a pull request with this change?

https://github.com/exceptionless/Exceptionless.Net/tree/master/Source/Platforms/Log4net

[2015-04-06 18:50] azchrisf commented on #8
I'd love to help but I'm not a C# programmer, I do VB.NET. :-)
This seems like something that could be done in 15 minutes, I can give it a shot using a VB -> C# converter if you tell me what the method or property the UI uses to get the actual exception.

[2015-04-06 20:31] niemyjski commented on #8
I would just get our serializer (and all config.Resolver.GetJsonSerailizer() https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Shared/Dependency/DependencyResolverExtensions.cs#L61 ) and serialize it to a string and show that content as it's exactly what is sent. I'd add a link to the dialog that says something like Click here to show what's sent and then show the dialog

[2015-04-07 02:28] azchrisf commented on #8
I'm not sure how you implement that to get the data - I'm going to leave that department to you guys as you're more familiar with how your app works.

Here is the finished UI code

http://www.cfcsaz.com/personal/Dialog.zip

The only thing left is to populate the textbox with the Crash stack/info - AdditionalErrorInfo.Text
Let me know that snippet so I can throw it in there when your done.

[2015-04-09 20:07] niemyjski opened #11 "Add documentation for logging extension methods as well as client.Register methods."
We could reuse the documentation from: https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Shared/EventBuilder.cs#L176 for most of this.

[2015-04-13 15:19] #11 closed

[2015-04-13 15:37] Phyxion opened #12 ".NET 4.0 build target"
Everything seems to use the Exceptionless.Portable package, which is a portable client package (as the name suggests). However, PCL is not supported on .NET 4.0 unless patched. Can you add another, non-portable, build target for .NET 4.0?

This seems related to https://github.com/exceptionless/Exceptionless.Net/issues/5

[2015-04-13 16:03] niemyjski commented on #5
Are you still seeing this behavior or does it go away when you install the patch?

[2015-04-13 16:07] niemyjski commented on #12
We hadn't planned on on creating a non pcl core package, but will if required. Are you running into this often? How do you deploy your app? if it's msi based you can add a launch condition that requires this [patch](http://www.microsoft.com/en-us/download/details.aspx?id=3556) to be set. I know this isn't the best answer but we want to make it just work. We should never blow up...  If we did end u

[2015-04-13 16:52] Phyxion commented on #12
Yes, we really need a non-PCL package as many users still use an unpatched .NET installation. Most installations go through inno setup but a major part is automatically updated and we cannot silently install the patch there. About the naming, it's not really 'Portable' anymore, but you can create another build target that targets just .NET 4.0 (Client Profile, preferably). For example, you can do

[2015-04-13 17:01] niemyjski commented on #12
I'll bring this up to the team for discussion.

One thing we do in our production app is you can tell the msi installer that it requires specific things like minimum operating system / kb to be installed before your app will install. You could also target .NET 4.5 in your app and then it would be guaranteed to work. If you are running into this issue, I can guarantee you are hitting other issues o

[2015-04-13 17:06] Phyxion commented on #12
But .NET 4.5 doesn't run on Windows XP. We would love to ditch Windows XP but as many users still run it we just cannot. With nsis we already check if .net 4.0 is installed and we could (probably) do so with the patch as well. However, this still doesn't help for the many users that get the update automatically (without the installer). I can constantly compile it myself, but it would be a lot easi

[2015-04-13 20:06] niemyjski commented on #12
Thanks for the heads up. I'll see what we can do. In the mean time, I'd recommend updating your installer to check for that kb and prompt the user and/or just compile a local build. The 2.0 client seems really stable so you shouldn't need to update it much until we have a solution.

[2015-04-13 21:46] niemyjski commented on #8
I've yet to get a chance to look into this, but it's on my task list.

[2015-04-14 07:32] Phyxion commented on #12
We still run Exceptionless 1.x, which has a proper 4.0 client. We'll wait for a build of this 'portable' one before we migrate to 2.x.

[2015-04-14 15:12] niemyjski commented on #12
We just had another customer run into this issue. On a personal note... Do people not run windows updates?

[2015-04-14 15:35] Phyxion commented on #12
No, many don't...

Blake Niemyjski wrote:

[2015-04-14 19:44] Phyxion commented on #12
http://stackoverflow.com/questions/16756047/produce-a-net-4-0-library-from-a-pcl-project-where-code-is-identical

That seems a decent solution.

[2015-04-15 13:23] Phyxion commented on #12
I've been testing a bit, it's also possible to add another project configurations. However, the projects won't load if you have the .NET 4.0 configuration selected (you first need to change back to the regular PCL project configuration), I think this is because Visual Studio does not reload the project 'on the fly' and doesn't recognize the changes. It might be solvable by installing the targeting

[2015-04-15 13:26] Phyxion commented on #12
You still need to change your NuGet script by the way.

[2015-04-15 14:08] niemyjski commented on #12
Thanks for the heads up. We never call build on the solution level, just on each project file: https://github.com/exceptionless/Exceptionless.Net/blob/master/Libraries/Build.ps1

[2015-04-15 14:09] niemyjski commented on #12
I think we are always defining portable right now so I wonder what we need to do for that...

[2015-04-15 14:24] Phyxion commented on #12
That looked like it indeed :) It seems you can indeed alter the powershell script using the settings I've provided to compile everything. I'm pretty certain you can make it work now :+1:

[2015-04-20 23:10] danlarson opened #14 "ToExceptionless breaks when the exception isn't loadable. FileNotFoundException is thrown."
ToExceptionless should never (ever) fail, because we use it in error handling code. :)

When the exception is thrown in another app domain and caught in the appdomain that doesn’t have the exception defined, when we call ToExceptionless is throws a FileNotFound exception.
Can you add error handling in ToExceptionless so if it fails with this, it gives the best report it can but doesn’t fail?

Here

[2015-04-21 14:19] niemyjski commented on #14
It looks like only the target site property is blowing up. Is there any chance you could create a small sample that reproduces this and then we can ensure we do the right fix. I think all we would need to do is do a try catch around the target site logic: https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Extras/Extensions/ToErrorModelExtensions.cs#L54-L57

[2015-04-23 15:26] srijken opened #15 "Handling of AggregateExceptions data of some inner exceptions is lost"
The current `ErrorModel` allows for just one inner exception, whereas the `AggregateException` allows for multiple inner exceptions. Right now it appears that the aggregate exception is logged; the first inner exception is logged, but the rest of the inner exceptions gets lost.

Also when `AggregateExceptions` is nested within another `AggregateException` information is lost, because of a missing

[2015-04-23 15:51] niemyjski commented on #15
Thanks for the sample, it appears that we need to special case AggregateExceptions even more. I'm not sure what the best thing to do would be when you have multiple inner exceptions. I can think of a few things.

1. You ignore aggregate exceptions and just submit the inners. This has a few flaws as you miss the root exception type (aggregate exception), and you also break ToExceptionless() as what

[2015-04-26 11:52] Phyxion commented on #12
Any updates on this (and the new versions for releases)?

[2015-04-26 12:02] niemyjski commented on #12
We've been working on the JavaScript client and then will be focusing on the serializer pull request and this. If you could submit a completed pull request for this it would be greatly appreciated.

[2015-04-27 01:10] niemyjski commented on #12
I'm going to add this to our roadmap. We will be working on this shortly.

[2015-04-27 01:19] niemyjski commented on #2
I've added this to our road map of something we will fix soon! https://github.com/exceptionless/Exceptionless/blob/master/README.md

[2015-04-27 01:19] niemyjski commented on #2
I feel really bad that we haven't accepted this yet, but we will get it tested and integrated soon.

[2015-04-27 01:20] niemyjski commented on #5
I've added this to our roadmap. We will be fixing this issue soon. Thank you for your pull request it is greatly appreciated ( https://github.com/exceptionless/Exceptionless/blob/master/README.md )

[2015-04-27 07:30] Phyxion commented on #12
I already made a pull request for the project, you still have to add this to your own powershell build script (I hardly use powershell). I hope you can do this shortly indeed, looking forward to adding this.

[2015-04-27 12:48] niemyjski commented on #12
Yes, thank you for your pull request (we appreciate it). We'll be working on this as soon as we can. We are finishing up work on the JavaScript client and then just need to do a few rounds of testing on it and then we will be taking a look into a serialization pull request and this.

[2015-04-29 19:51] fduverger opened #17 "Exceptionless UI Not working with a virtual directory"
When an IIS virtual directory is created  the UI stop showing logged exceptions.

[2015-04-29 19:56] #17 closed

[2015-04-29 19:56] niemyjski commented on #17
I'll push this fix after the client builds

[2015-04-29 19:57] fduverger commented on #17
Great! Thanks

[2015-04-29 20:30] niemyjski commented on #17
The latest clients are being pushed and will be available shortly.

[2015-04-29 20:40] fduverger commented on #17
Which clients need to be updated?

[2015-04-29 20:42] niemyjski commented on #17
You would want to update all of the Exceptionless clients via the nuget package manager.

[2015-04-29 20:43] fduverger commented on #17
Cool!

[2015-05-06 19:02] niemyjski commented on #2
This is also effecting request info (Extended data)..

[2015-05-11 12:45] bbrcomputers opened #18 "Configuration Changes event"
Hi,

I am 'upgrading' our existing exceptionless implementation from v1 to v2 and came across this line of code :

client.ConfigurationUpdated += (sender, args) => UpdateConfiguration();

It no longer exists and I don't see this documented on the upgrade page. Is this an oversight (or am I just plain blind) ?

(Email received from Blake reads)

I currently don't see any event for this in the new s

[2015-05-11 13:32] niemyjski commented on #18
Hello,

Did wiring up to the `client.Configuration.Settings.Changed += OnSettingsChanged;` fix this issue?

[2015-05-12 04:31] bbrcomputers commented on #18
Hi Blake,

Syntax wise it did work, however I never got it to test.  There are too
many problems trying to convert from v1 to v2.  I think it has mainly to do
with the fact that v1 was error driven while v2 is event driven.

We are going to try to do a complete rewrite by approaching our goal in an
event driven thinking.

Regards,

Alex

On 11 May 2015 at 15:32, Blake Niemyjski <notifications@gith

[2015-05-12 10:51] bbrcomputers commented on #18
Hi Blake,

I am trying to host a local exceptionless environment so I can start
changing our app (which I will also run local) to write errors  to my local
DB.  This will enable me to do everything away from our other environments
(which my colleagues are using)

So, I followed the steps on the hosting website as best as I could (never
used any of these tools before), and installed the required to

[2015-05-12 15:16] niemyjski commented on #18
If you are just wanting to run this locally to test your dev project, you could just start the project and run it (after setting up mongo and elastic search) as the default connection strings will just work. If you are wanting to host this and not have to start visual studio to test you'll need to install iis as part of the windows features, then launch the IIS Manager app from the start menu, the

[2015-05-13 04:31] bbrcomputers commented on #18
Hi Blake,

OK - I am battling to get the API web site to start in IIS, but if I don't
need it (I can use VS), I will try this route.

How do you want to meet up since I'm in Centurion (South Africa).  Can't
image you're close by.

I'll keep you posted on my progress.

Regards,

Alex.

On 12 May 2015 at 17:16, Blake Niemyjski <notifications@github.com> wrote:

[2015-05-13 12:25] niemyjski commented on #18
If you want to join our chat room: https://gitter.im/exceptionless/Discuss and send me a message when you are on. I'll try and be around. We could join a remote meeting via teamviewer and take a look at this together.

[2015-05-15 13:42] bitbeans opened #19 "Already set valid api key is overwritten with default api key."
I was setting my api key in code and I noticed that it was being overwritten on the call to register:

[code]

My app config had:

[code]

[2015-05-17 09:28] bitbeans opened #20 "EnvironmentInfoCollector in Exceptionless.Extras throws Exceptions on Mono"
On my test maschine (Ubuntu 14.04) i first had to install: libmono-microsoft-visualbasic11.0-cil

otherwise:

File name: 'Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

after installing the related package i got:

EnvironmentInfoCollector: Unable to get process id. Error message: GetCurrentProcessId
EnvironmentInfoCollector: Unable to get process name.

[2015-05-18 01:05] niemyjski commented on #20
Thanks for your commit! I've made a few comments on the commit. Also, can you please make sure to sign our CLA: so we can accept the pull request ( https://www.clahub.com/agreements/exceptionless/Exceptionless )

[2015-05-18 15:37] #20 closed

[2015-05-18 15:37] niemyjski commented on #20
Thanks for your commit!

[2015-05-19 12:50] bbrcomputers commented on #18
Hi Blake,

I decided, just to get going, to use your webhosting (trial) in order to
see what I can do on my client side.  Mainly to try and figure out what to
do to 'intercept' and send errors to your portal.

I created a project called Test, and clicked on download and configure
client (giving the screen : Download & Configure Project "Test" Client)

on step 4 : Import the Exceptionless namespace

[2015-05-20 13:11] Phyxion commented on #12
Still nothing on this yet I think?

[2015-05-20 13:38] niemyjski commented on #12
Not yet, we've been hard at work on the JavaScript client and are finishing that up. We've also been looking into multitargeting for dnx and this.

[2015-05-20 14:07] Phyxion commented on #12
Any idea when this will be done? It shouldn't take much work :)

[2015-05-20 14:30] niemyjski commented on #12
We don't have a date set, we are working as hard as we can every day
and this is near the top of the list. We have a pull request that is a
head of this one. A pull request would go a long ways to making this
get done much quicker.

On 5/20/15, Phyxion <notifications@github.com> wrote:

--
Thanks
-Blake Niemyjski

[2015-05-28 19:47] bladefist opened #22 "ApiKey can't be changed after the client has been initialized."
This occurs when the autostart property of IIS is enabled (IIS 8 and MVC 5).
[code]

[2015-05-28 20:39] niemyjski commented on #22
Thanks for reporting this.. I'm going to start taking a look into this. In the mean time can you try disabling auto start and see if that fixes this behavior.

[2015-05-29 13:06] #19 closed

[2015-05-29 13:07] niemyjski commented on #19
This fix will be deployed after #22 has been fixed.

[2015-05-29 13:49] #22 closed

[2015-05-29 13:50] niemyjski commented on #22
@ejsmith Can you please review this change.

@bladefist, I wasn't able to reproduce but I believe this fix and my previous commit will resolve this issue. Once a code review has been completed I'll push out a new build for you to try.

[2015-05-29 14:39] niemyjski commented on #22
@bladefist, would you mind trying a nightly build of [MyGet](https://www.myget.org/F/exceptionless/api/v2)? It only has this change since the last time we pushed. It would be great to see if this is fixed before we push a new build.

[2015-05-29 15:52] niemyjski commented on #22
@bladefist, After further review I've pushed this new NuGet Package: 1341 Please let me know if this does not fix this issue by commenting on this issue.

[2015-06-04 12:31] niemyjski opened #23 "Add support for Universal Windows Platform (UWP)"
https://www.visualstudio.com/en-us/features/universal-windows-platform-vs.aspx
https://msdn.microsoft.com/en-us/library/dn894631.aspx

"Windows 10 Insider Preview introduces UWP apps and the Universal Windows Platform (UWP) which provides a guaranteed core API layer across devices. You can create a single app package that can be installed onto a wide range of devices. A single store makes it easy

[2015-06-04 15:06] niemyjski commented on #23
References: https://github.com/MarimerLLC/csla/issues/368

"What I have learned is that if you create a UWP project and then use NuGet to add a package to that project what you get from NuGet are the elements in that package that target WinRT.

In other words, at the moment it appears that the way to create a "UWP" target in NuGet is to actually create a WinRT targetted assembly.

Due to this, CSL

[2015-06-05 15:35] #5 closed

[2015-06-05 15:38] niemyjski commented on #5
Could you please help us do some testing of this change by testing the following packages by pulling the nightly build (3.0.1343 or newer) package from our nightly NuGet feed: https://www.myget.org/F/exceptionless/api/v2

We just need to verify that if you are using pcl then the pcl package is used.. otherwise it's referenced from the NET40/45 packages folder. Lastly it works and doesn't blow up :

[2015-06-05 15:38] niemyjski commented on #12
Could you please help us do some testing of this change by testing the following packages by pulling the nightly build (3.0.1343 or newer) package from our nightly NuGet feed: https://www.myget.org/F/exceptionless/api/v2

We just need to verify that if you are using pcl then the pcl package is used.. otherwise it's referenced from the NET40/45 packages folder. Lastly it works and doesn't blow up :

[2015-06-05 15:38] #12 closed

[2015-06-05 16:43] Phyxion commented on #12
I can't say that your myget feed is doing anything, all it prints is one line "DefaultPackagesScreenshots".

[2015-06-05 17:42] niemyjski commented on #12
Please try this: https://www.myget.org/gallery/exceptionless

[2015-06-05 17:42] niemyjski commented on #5
Please try this feed: https://www.myget.org/gallery/exceptionless

[2015-06-08 18:25] Phyxion commented on #12
Going to test it tomorrow (early).

[2015-06-09 09:29] Phyxion opened #24 "Use of EnableSSL in ExceptionlessAttribute?"
If serverurl starts with https -> enable ssl automatically? This seems like a useless property to me.

[2015-06-09 11:56] Phyxion opened #25 "DuplicateCheckerPlugin"
This DuplicateCheckerPlugin is too strict, take this for example:

``new Exception("Exception)"``
vs
``new Exception("OtherException)"``
vs
``new Exception("Exception", new Exception("InnerException"));``

These should not be marked as a duplicate.

[2015-06-09 12:53] Phyxion commented on #12
Added the myget as a NuGet source and it set up everything corectly (I verified in VS and if the files are indeed .NET 4.0).

[2015-06-09 13:13] Phyxion opened #26 "StackOverflowException with EventBuilder"
[code]

[2015-06-09 14:13] niemyjski commented on #26
This happens because your reusing the plugin context data which marks this newly submitted error as an unhandled error. If you just want to add a tag to the event, it's much more effient to just do:

[code]

[2015-06-09 14:30] niemyjski commented on #26
@ejsmith  I'm closing this issue as by design (we have a unit test for it) unless the general consensus is that we should handle this behavior differently.

[2015-06-09 14:30] #26 closed

[2015-06-09 14:59] niemyjski commented on #12
Awesome! I need to do some pcl testing as well.

[2015-06-09 16:17] niemyjski commented on #14
@danlarson is there any chance you could create a small sample so we can ensure we get the correct fix for this.

[2015-06-09 16:33] srijken opened #27 "Exceptionles web module gets removed by Exceptionless.WebApi"
To repro:

- Install Exceptionless.WebApi
- Install Exceptionless.Web into the same project
- Observe that the module is installed in the `<modules>` section in web.config
- Run `Update-Package -Reinstall Exceptionless.WebApi`
- Observe that the module is now gone

[2015-06-09 16:36] srijken commented on #27
Looks like this happens through this path:
https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Platforms/WebApi/NuGet/tools/uninstall.ps1#L8
https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Shared/NuGet/tools/exceptionless.psm1#L130-L140

[2015-06-09 16:56] niemyjski commented on #5
We are in the process of pushing [v3.1.0](https://github.com/exceptionless/Exceptionless.Net/releases/tag/v3.1.0) out to NuGet!

[2015-06-09 16:56] niemyjski commented on #12
We are in the process of pushing [v3.1.0](https://github.com/exceptionless/Exceptionless.Net/releases/tag/v3.1.0) out to NuGet!

[2015-06-09 16:56] niemyjski commented on #19
We are in the process of pushing [v3.1.0](https://github.com/exceptionless/Exceptionless.Net/releases/tag/v3.1.0) out to NuGet!

[2015-06-09 16:56] niemyjski commented on #22
We are in the process of pushing [v3.1.0](https://github.com/exceptionless/Exceptionless.Net/releases/tag/v3.1.0) out to NuGet!

[2015-06-09 16:56] niemyjski commented on #20
We are in the process of pushing [v3.1.0](https://github.com/exceptionless/Exceptionless.Net/releases/tag/v3.1.0) out to NuGet!

[2015-06-09 16:56] niemyjski commented on #17
We are in the process of pushing [v3.1.0](https://github.com/exceptionless/Exceptionless.Net/releases/tag/v3.1.0) out to NuGet!

[2015-06-09 17:05] niemyjski commented on #24
EnableSSL is true by default. It's only set to false via the attribute or server configuration. We could be smarter about this I think.

@ejsmith do you think we should deprecate this attribute (removing it would break people but something we could do in v4).

[2015-06-09 17:18] niemyjski commented on #27
Do you think we should pass a parameter into remove saying the package name and then we can check that in the inner if.. I think this may be the best solution.

[2015-06-09 18:11] niemyjski commented on #18
@bbrcomputers  I'm really sorry I just saw your reply. If you want to jump on the chat room. I'd be more than happy to do a remote meeting and take a look into this. Were you able to get this working? Chances are you might be using the wrong package if that extension method isn't picked up.

[2015-06-09 18:20] niemyjski commented on #2
@CyberSinh Just and update. I'm working on this as well as working on getting rid of mongo. What this means is we are moving to only elastic search for storage which means one serialization setting that needs to be tested. These will go hand in hand and will be tested. So the news is this will be merged really soon.

[2015-06-09 18:23] niemyjski commented on #25
Would you mind doing a pull request for unit tests for this. If we are not taking the exception message into account we should be. We check to see if an exception has been duplicated all the way up the stack because exceptions that occur on mvc might be reported by two different handlers but the outer exception will have a slightly different stack trace.

[2015-06-10 07:13] Phyxion commented on #25
The message doesn't seem to be taken into account, nor the InnerException.

[2015-06-11 14:20] barranger opened #28 "Add support for ASP.NET Core"
I realize that it's still in preview/beta, but as it stands any project using vNext, cannot use Exceptionless

[2015-06-11 14:40] niemyjski commented on #28
This is something we really want as well. We are planning on releasing and porting the server to vnext after it's released as well. Yesterday I went to Build Chicago and asked some of the employees / mvps how we can do this and they were all stumped. I think we can use VS multi-targeting to do this. But then again... I'm wondering however, if we should just create a new NuGet package for this. Wha

[2015-06-11 15:17] barranger commented on #28
I wonder if creating a temp NuGet package (named Exceptionless.vNext) at least until MS does the official release (which I'm assuming will include a way to properly multi-target)?

[2015-06-11 15:18] niemyjski commented on #28
Do you know what others are naming their vnext packages?

[2015-06-11 15:23] barranger commented on #28
I don't, sorry

[2015-06-12 09:00] srijken opened #31 "Generated referenceIds aren't sent to the collector"
See testcase in https://github.com/exceptionless/Exceptionless.Net/pull/29

The problem is that Event is serialized to the queue path on disk using `ExceptionlessContractResolver`, then during processing it gets deserialized using `DefaultContractResolver` that doesn't know how to deserialize `reference_id`.

[2015-06-12 14:12] niemyjski commented on #31
@ejsmith, can you quickly review this as well. I don't see any issues that stand out to me if we applied this fix.

[2015-06-12 14:13] niemyjski commented on #15
@srijken could you do a new pull request or do you want me to double revert :)?

[2015-06-12 22:20] ejsmith commented on #31
I think it should be good.

[2015-06-24 05:20] mallapurbharat opened #34 "Event when crash report is submitted successfully"
Feature Request:
Whenever a crash/exception happens, the submission form pops up.
When the user submits the report, after submitting it, he should get a messagebox where he sees that it was submitted successfully. For any reason, if the submission wasn’t successful, he should see that it wasn’t able to submit it successfully. Probably a callback on push crash report fail/success would be best.

Lo

[2015-06-24 14:19] niemyjski commented on #2
@CyberSinh I just spent a few hours going over your change and we really like it and really really want it... We tried to implement it into our big server changes that are in coming. However, we may have to punt on this for a while. Here are the issues we are seeing after discussion and testing.

* We have millions of events stored and indexed in elastic search.
  * This change would cause anyone

[2015-06-24 14:20] niemyjski commented on #2
We need to address these bullet points before this can happen :(.

[2015-07-06 13:12] paranoid-android opened #35 "Unable to add plugin to MVC app"
I am trying to include a plugin for use within my ASP.NET MVC app. In an attempt to do this, I reviewed this [blog post](http://exceptionless.com/how-to-add-a-plugin-to-affect-events-in-exceptionless/) and this [sample](https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Samples/SampleConsole/Program.cs). When I run my app, it shows my plugin is registered. However, the breakpoin

[2015-07-06 23:33] niemyjski commented on #35
It looks like everything is good in the code you pasted. I'll try to reproduce first thing in the morning. What version of MVC/.NET are you targeting?

[2015-07-07 00:17] paranoid-android commented on #35
@niemyjski ASP.NET MVC 5.2.2.0.  Runtime: v4.0.30319. Thank you for looking into this. I've been banging my head against the wall on it.

[2015-07-07 19:36] niemyjski commented on #35
@paranoid-android I've been unable to reproduce this issue

![image](https://cloud.githubusercontent.com/assets/1020579/8555389/7154c9aa-24b5-11e5-93bc-0ebbfe51916d.png)

Is there any chance you can join our [gitter chat room](https://gitter.im/exceptionless/Discuss) and we can setup a remote meeting so I can take a closer look.

[2015-07-07 19:41] niemyjski opened #36 "Restrict the Priority attribute to only be definable on classes."
The following code compiles and runs without issue but the priority is never picked up. This should be a compile time error. References #35

[code]

[2015-07-08 19:27] paranoid-android commented on #35
I was able to get it working after I created a brand new project. I'm still not sure what the issue was. Either ay, there does not seem to be an actual issue with Exceptionless.

[2015-07-08 19:27] #35 closed

[2015-07-08 19:28] niemyjski commented on #35
@paranoid-android, But are you still seeing this in your production app? If so, can you try taking a copy of that app and trim everything but that page and keep trimming until it's a basic sample. If you could then attach that sample, that would be a huge help.

[2015-07-09 14:52] niemyjski commented on #27
Thank you for your commit!

[2015-07-09 14:52] #27 closed

[2015-07-09 14:55] niemyjski commented on #31
@srijken can you please verify that this has been fixed in the latest package (3.1.1367). If it's not please comment and I'll reopen this issue.

[2015-07-09 14:55] #31 closed

[2015-07-09 15:11] niemyjski commented on #34
This would be a nice to have. Currently it's show the dialog and try to process it in the background.

[2015-07-10 20:27] niemyjski opened #37 "Add support for reading configuration from environmental variables."
When using git deploy you need to be able to read configuration from app settings or environmental variables.

[2015-07-12 21:07] #37 closed

[2015-07-16 13:48] skoub opened #40 "How to do logging in Application_Start?"
I would like to log when my application start and when the application end. My code look like this but it doesn't log anything but it work when i log something in an ActionResult.

[code]

And any idea why the logging doesn't work there?

[2015-07-16 15:02] niemyjski commented on #40
It could be caused by the fact that the config section hasn't been read yet (it's set when the http handler executes which could be before or after this code runs??). What is `ExceptionlessClient.Default.Configuration` look like? Is the api key set? Are you using the mvc package?

[2015-07-16 15:38] skoub commented on #40
The apiKey is not set when i'm in the Application_Start and yes i'm using the mvc package. Like you've said, the client is not ready yet when i'm in the application_start.

I tried to start the clien myself and it work but i'm not sure if it's a good idea to do it that way:

[code]

[2015-07-16 15:44] niemyjski commented on #40
I don't see it hurting anything, but I usually advise against setting something that is automatically handled for you. But in this case without calling it you wouldn't get the log message right there (so it's up to you).

In our application we also write a message after everything's been bootstrapped (di has been configured), but we write the log message out via nlog and have a nlog exceptionless

[2015-07-16 15:45] niemyjski commented on #40
@ejsmith @skoub What do you think? This should be the only method in an mvc app where exceptionless may or may not be configured.

[2015-07-16 18:23] ejsmith commented on #40
I don't think there is anything wrong with calling the startup method. I know we have tested it in the past to make sure calling it multiple times doesn't hurt anything.

[2015-07-16 18:42] niemyjski commented on #40
yes, I'm going to close this as you can call `ExceptionlessClient.Default.Startup()` if you wish to log inside of this method.

[2015-07-16 18:42] #40 closed

[2015-07-17 15:24] skoub commented on #40
@niemyjski why if you log with nlog in the Application_Start, the log will exist in Exceptionless but not if i use Exceptionless client?

anyway, with NLog, it work great! thank you!

and do you also log when the application shutdown? if yes, i would be interested to know how you do that.

[2015-07-17 15:35] niemyjski commented on #40
Because the nlog client will use it's own key and in memory queue if configured that way. We personally don't do that as I don't really think it adds too much value. But you could just wireup to application end I think in mvc.

[2015-07-17 15:36] niemyjski commented on #40
Does this make sense?

[2015-07-17 17:12] skoub commented on #40
i will try that. Thank you for your help!

[2015-07-20 17:12] niemyjski commented on #8
@xbelt  would you mind attaching a screenshot of the new behavior?

[2015-07-20 17:13] niemyjski commented on #40
No problem!

[2015-07-21 08:00] xbelt commented on #8
@niemyjski
Here you go:
closed:
![closed](http://puu.sh/j74F8/7a664e7864.png)
opened:
![opened](http://puu.sh/j752u/664baafc2d.png)

[2015-07-21 11:17] malvada opened #45 "Data Exclusions ignored within ToErrorModelExtensions"
Data Exclusions configured within the project or the client are being ignored within [ToErrorModelExtensions] (https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Extras/Extensions/ToErrorModelExtensions.cs) on line 60.

We add some additional information to our exceptions that are useful on our client exception handling code but useless when reporting the exception.

[2015-07-21 13:00] niemyjski commented on #8
Thanks for the screenshots. Is there any way we can get these updated for wpf as well? @ejsmith thoughts?

[2015-07-21 14:47] ejsmith commented on #8
I like it. I think I might prefer that the button showed another dialog with the JSON in it instead of expanding the existing dialog only because it seems like the dialog is already pretty tall and you would also probably want to be able to maximize the window and see all of the JSON easily.  Also would probably be nice to use JSON.NET's formatted version of the JSON so it's a little easier to loo

[2015-07-21 15:16] niemyjski commented on #8
Yeah it might be nice to show a dialog / modal. But I think we need to reuse our serializer incase someone wants to take that and manual submit it via the api..

[2015-07-21 15:32] niemyjski commented on #45
Yeah, I could see wanting to exclude certain exception properties (in the case of EF exceptions adding garbage). Would you be willing to submit a pull request for this (please note that there is two versions of ToErrorModelExtensions).

On a side note, not sure if you knew this but if you are viewing a source code on github. If you click on the line of code it will update the url with the line num

[2015-07-21 16:38] malvada commented on #45
Thanks! Did not know about the line-link feature.

Will submit a pull request for this tomorrow when I am back in office.

[2015-07-22 07:01] xbelt commented on #8
I will look at it to improve the form. I have never worked with wpf but I will give it a go.

[2015-07-22 14:47] ejsmith commented on #8
@niemyjski yeah, I mean our embedded version of the serializer. I am just saying that I would want to be looking at a formatted version of the JSON.

[2015-07-23 15:43] niemyjski opened #46 "Config Section wasn't added when installing nuget package"
[code]

References https://github.com/exceptionless/Exceptionless/issues/128

[2015-07-31 15:28] jamierushton opened #47 "Serializer for add object is removing all null fields."
When submitting an object to Exceptionless, all my null fields are removed from the JSON output.

[2015-07-31 16:04] niemyjski commented on #47
I'm marking this as a bug as you could want default fields for add object and set property. For example in the following use case no properties will be included as they are all the default values.

[code]

[2015-08-03 08:08] xbelt commented on #8
I am sorry that I haven't done any work recently but exams are coming up ;)

[2015-08-17 09:22] Kordonme opened #48 "MVC package missing 404 handling?"
Hi guys,

How come the MVC client doesn't contain these few lines:

https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Platforms/Web/ExceptionlessWebPlugin.cs#L44-L52

We have some applications where a developer threw a 404 like this:

    throw new HttpException(404, "<msg>");

And we expected them to show up as Broken Links, but instead they show up as Exceptions.

Is this int

[2015-08-17 09:33] Kordonme commented on #48
Oh, I see the plugin is being registered. However, it's not the experience we get:

https://github.com/exceptionless/Exceptionless.Net/blob/4deb3de8c09d353ce0dfd96659b00bae07e51893/Source/Platforms/Mvc/ExceptionlessModule.cs#L17

[2015-08-17 13:16] Kordonme commented on #48
Also, we are experiencing double error reporting. Both from HttpApplicationError and AndErrorsAttribute.

Line 15 and 23:

https://github.com/exceptionless/Exceptionless.Net/blob/4deb3de8c09d353ce0dfd96659b00bae07e51893/Source/Platforms/Mvc/ExceptionlessModule.cs

[2015-08-17 14:55] niemyjski commented on #48
@Kordonme so you're not seeing the same 404 experience? Is the stack trace the exact same for both of your errors?

[2015-08-18 09:07] Kordonme commented on #48
Well, it's kind of two different issues.

The first one is HttpExceptions being thrown with 404 is being registered as exceptions (http://i.imgur.com/zIhjz4B.png). Expected behaviour is it being reported under Broken Links. Or am I missing something?

Another issue is the application reporting same error, 100% identical, two times. First with the `SendErrorsAttribute` and afterwards from `HttpAppl

[2015-08-18 13:40] niemyjski commented on #48
I think #1 is an issue I'm not 100% sure about the second, if you can send me a link to both of the errors I can let you know more. If the stack trace isn't 100% the same then duplicates will occur, this can happen if the stack trace is different at the two error handlers

[2015-08-18 14:55] Kordonme commented on #48
Regarding duplicate errors, you are right. But there are still being sent two errors with different submission_methods, and slightly different stack traces:

[code]

[2015-08-18 17:42] Stojo303 opened #49 "Feature request: OnSended event (WPF)"
When a user have submitted an issue from the submission dialog, it would be great to have an event so that the app can decide (for example) weather the applications execution should continue or if it should terminate.

Thanks in advance :)

[2015-08-18 19:07] niemyjski commented on #48
Yes, there is nothing we can do about this, we log the exception as part of the handler and let the rethrow happen automatically by the framework (mvc). If the inner exceptions match than we discard them, but they don't so we don't know if it's a duplicate or not. There's really no good way to solve this.

[2015-08-18 19:13] niemyjski commented on #48
Thoughts?

[2015-08-20 17:44] niemyjski commented on #49
I don't think we should do an OnSended event but an OnQueued event that happens right after the event has been queued. This will allow you to exit or or process queue and then exit. By default the queue will be processed on wpf when the applications exists.

I think the handler should be something like this:

[code]

This way you could see what was queued and take the proper action with the proper

[2015-08-21 18:15] niemyjski commented on #48
I'm closing this as I wasn't able to reproduce this in our sample:

![image](https://cloud.githubusercontent.com/assets/1020579/9415691/a8f14838-4806-11e5-9890-b7afa9609731.png)

[2015-08-21 18:27] niemyjski commented on #48
If you can send us a repo where you are seeing this behavior, please comment with the info and we will reopen this issue.

[2015-08-21 18:29] niemyjski opened #50 "Feedback wanted: Should we be preserving some of the info on 404's?"
![image](https://cloud.githubusercontent.com/assets/1020579/9415974/76726e26-4808-11e5-91a9-956a1e89a372.png)

I almost think we should be removing @error and @environment info and leaving the rest as plugins can add info before the web plugin runs.

@ejsmith thoughts?

[2015-08-21 18:57] niemyjski commented on #49
I've created a pull request here: https://github.com/exceptionless/Exceptionless.Net/pull/51 Your feedback would be greatly appreciated.

[2015-08-21 18:58] niemyjski commented on #49
I'm not 100% sure if I'm happy with the way things are named. To me it gives the impression that the event has been sent to the server when it's just been queued (could even be an in memory queue). This event would allow people to close the application (WPF) if needed after an unhandled error.

[2015-08-21 18:58] niemyjski commented on #47
@ejsmith what are your thoughts on this one?

[2015-08-21 20:49] ejsmith commented on #47
We remove them to try and reduce the size of the data being sent to the server since there is always a bunch of things that are not populated, but I guess it sucks that the values don't show up in the UI as being empty. I guess we should stop removing default values.

[2015-08-21 21:02] niemyjski commented on #47
yeah, I agree

[2015-08-24 13:56] niemyjski opened #52 "Exception occurred while creating an instance of the ExceptionlessClient"
[code]

[2015-08-24 14:00] niemyjski commented on #52
This has been fixed in 3.x

[2015-08-24 14:01] #52 closed

[2015-08-24 17:33] niemyjski commented on #18
@bbrcomputers I'm going to close this as I feel that this has been resolved. If you still need help, I'd be more than happy to do a remote meeting and take a look into this.

[2015-08-24 17:33] #18 closed

[2015-08-24 17:36] niemyjski commented on #24
I'm closing this as we made a change a month ago that got rid of this functionality (we now use the serverurl to detect https). We also marked the EnableSSL setting as Obsolete

[2015-08-24 17:36] #24 closed

[2015-08-24 17:37] niemyjski commented on #45
@malvada were you able to do a pull request for this?

[2015-08-24 18:21] #36 closed

[2015-08-24 18:40] niemyjski commented on #14
@danlarson is there any chance you could create a small sample so we can ensure we get the correct fix for this.

[2015-08-24 18:54] niemyjski commented on #49
This has been fixed in pull request #51 and has been pushed: `3.1.1405`

[2015-08-24 18:54] #49 closed

[2015-08-24 18:56] niemyjski commented on #49
You'd just need to wire up to OnSubmitted Event handler and check the property to see if it's unhandled. If it is, close the application.

[2015-08-29 09:20] airwareic opened #53 "Queue data is not persisted"
After 3 unsuccessful attempts to upload event data or 1 day in the queue, event data is lost. This data is vital for my team, where the application is used 80% offline.

[2015-08-29 21:53] niemyjski commented on #53
Hello,

Can you please attach the troubleshooting logs. Where you able to step through this and see why it isn't being persisted? Are you seeing an exception being thrown?

[2015-08-29 22:09] airwareic commented on #53
I don't have logs to show what's causing me so much headache because this
is intended behavior. All that gets dumped to the logs on my end are
messages about process suspension. I found this issue by cloning the .NET
client repo and stepping through until I saw what was being done around
locks and attempts.

I'm not in front of my work machine and don't have my laptop so I can't get
the exact deta

[2015-08-29 22:26] airwareic commented on #53
I think one of the points of confusion here is that while suspend
processing is called when offline, that isn't persisted when I next restart
the application, so if my application crashes offline and then I restart
it, the queue can be cleaned unintentionally.

On Saturday, August 29, 2015, Eric Nagy <enagy@airware.com> wrote:

[2015-08-30 03:41] airwareic commented on #53
Hey Blake, I'm having auth issues and can't chat through the site. The best
time for me to really get to any of this is Monday. So let's pick up there.
I can remote and add more github details there.

On Saturday, August 29, 2015, Eric Nagy <enagy@airware.com> wrote:

[2015-08-30 03:53] niemyjski commented on #53
Sounds good, you just need to fork the repo and then you can create a pull request. What authentication issues are you seeing? Let's talk more on Monday.

[2015-08-30 03:55] airwareic commented on #53
Oh, that's not on your end, sorry. Duo 2FA isn't working through my company
gmail account. It's a duo setup issue.

On Saturday, August 29, 2015, Blake Niemyjski <notifications@github.com>
wrote:

[2015-08-31 15:44] niemyjski commented on #53
No problem, please let me know when you are able to enter a meeting. I'm going to be traveling this afternoon.

[2015-08-31 15:45] airwareic commented on #53
How about 10:15?

On Monday, August 31, 2015, Blake Niemyjski <notifications@github.com>
wrote:

[2015-08-31 22:12] airwareic commented on #53
Hey Blake,

My team is waiting on my PR in exceptionless.net as part of a hotfix to our
product. I know you're traveling right now, but is there anyone else who
can take point and provide me with an initial review?

Thanks,
Eric

On Mon, Aug 31, 2015 at 8:48 AM, Blake Niemyjski <notifications@github.com>
wrote:

[2015-09-01 15:45] niemyjski commented on #53
I've asked a teammate to review it as well so were on the same page. I'm trying to be as open minded and grateful for this pr as possible. My initial feedback is I don't see us accepting this pull request in the current form. I think the changes for readability actually makes it less readable as the previous code was short and concise. Also the status code changes breaks some scenarios (pcl), as I

[2015-09-01 15:48] niemyjski commented on #53
It's worth noting that we have to support and have a commercial application that supports offline as well. Offline support is a very important to Exceptionless.

[2015-09-01 16:05] airwareic commented on #53
I see where you're coming from on these points, and considered them as I
was making this change. It'd be helpful for me to discuss some of these
with you in a call.

When it comes to offline mode, the critical part is never losing data.
Beyond arbitrary policies about queue size it seems impossible to cap that.
Especially because each price point has a different retention limit- the
best policy co

[2015-09-01 16:08] niemyjski commented on #53
I'm free anytime today (minus lunch). I'm on gitter if you want to chat there.

[2015-09-01 16:18] ejsmith commented on #53
What if we just had options that allowed you to change how long and how many retries it took before an item was discarded?

[2015-09-01 16:21] ejsmith commented on #53
Here are some insights into why we made it work this way. In the past we ran into issues where people's servers crashed because the queue filled up their disk.

[2015-09-01 16:24] airwareic commented on #53
Right, that would be great, but I wanted to talk to you guys about how you
saw that being presented. Should we make a queue settings section? Should
the time be in days or in timespan? If we make this configurable, is there
server side age validation? Both should be nullable because teams like mine
most likely just don't care and would like a freer mode.

Let's discuss this later today, I like the

[2015-09-01 19:03] niemyjski opened #56 "Processing the queue increments the # attempts after submission."
This should be moved to increment the number of attempts after it has failed. The reason for this is if you start your application and it dies, the queue might be processing but didn't succeed. If this happens three times, the event will be completely discarded without ever being sent.

[2015-09-01 19:05] niemyjski opened #57 "Using IsolatedStorage fails with TinyIoc Exception"
[code]

[code]

Also by default we are not using IsolatedStorage.

[2015-09-01 19:07] ejsmith commented on #56
Sounds good to me.

[2015-09-01 19:08] ejsmith commented on #57
What does the error message say?

[2015-09-01 19:17] niemyjski commented on #57
`Unable to resolve type: Exceptionless.Extras.Storage.IsolatedStorageObjectStorage` And the inner says `Unable to resolve type: Exceptionless.Extras.Storage.IsolatedStorageObjectStorage`

[2015-09-01 19:18] niemyjski commented on #53
Fixed in: https://github.com/exceptionless/Exceptionless.Net/pull/55

[2015-09-01 19:55] #57 closed

[2015-09-01 20:19] #53 closed

[2015-09-01 20:23] niemyjski opened #58 "Use Isolated Storage by default"
Currently isolated storage is not used by default because the registration exists.

I propose we move use isolated storage to the Startup call. The downside of this is what happens if you want to use in memory storage.. you now have to call that call after the startup call. Also, there is no retry or fallback logic in case isolated storage doesn't work (we know there are some issues with this on s

[2015-09-01 23:52] ejsmith commented on #58
We made this decision on purpose for performance reasons. Most people would be ok with a slight risk of losing an event vs slowing their app down.

[2015-09-03 14:49] niemyjski commented on #58
So the following code should be removed then? https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Extras/Extensions/ExceptionlessExtraConfigurationExtensions.cs#L66-L67

[2015-09-03 15:57] ejsmith commented on #58
Yeah, I am thinking so. I feel like the in memory queue will be fine for most people, but it does kind of suck to have to opt in to offline support. Need to think about this some more.

[2015-09-04 18:53] niemyjski commented on #58
Just let me know.

[2015-09-22 08:04] Kordonme commented on #48
Well, this seem to be an on/off problem. Sometimes it's handled correctly and is placed under broken links, but we get a lot of data cluttering our exceptions:

http://i.imgur.com/abcuoux.png

We can't really use this view because of these incorrectly placed errors. They are sent via SendErrorsAttribute

`throw new HttpException(404, "Page not found.");`

[2015-09-22 22:45] niemyjski commented on #48
That is really odd. Is there any chance you could pull down this repo and take a look at our web sample that throws a 404 via HtpException and see what's different between the two apps. If I can reproduce it in a sample of some kind, I can fix this issue.

[2015-09-23 03:50] Kordonme commented on #48
I might have an idea where to look. I will try and get to it this weekend.

[2015-10-01 07:55] Phyxion opened #59 "Nancy exception"
ExceptionlessClient.Default.RegisterNancy(pipelines);

 Exception Details: System.MissingMethodException: Method not found: 'Nancy.ErrorPipeline Nancy.ErrorPipeline.op_Addition(Nancy.ErrorPipeline, System.Func`3<Nancy.NancyContext,System.Exception,Nancy.Response>)'.

This happens with latest version of Nancy (1.3) and latest Exceptionless on NuGet.

[2015-10-01 08:39] Phyxion commented on #59
https://github.com/NancyFx/Nancy/commit/83e115ab237cb0fccd9fd289dfb29ab95897a076

Didn't really check further but it's probably related to this commit.

[2015-10-01 15:41] niemyjski commented on #59
Thanks for letting us know about this. Is there any chance you could submit a pull request for this?

[2015-10-01 16:15] Phyxion commented on #59
Unfortunately, no. I'm going away for a while tomorrow and I won't have access to my normal desktop.

[2015-10-01 23:26] #59 closed

[2015-10-01 23:27] niemyjski commented on #59
I think this is fixed in the my latest commit. I think it just need to be recompiled against 1.3. I'll be pushing a new nuget package in a little bit. Please let me know if this doesn't fix this issue.

[2015-10-07 17:30] mgnslndh opened #60 "Fix CrashReportDialog styling or add dialog provider configuration?"
I am using [MaterialDesignInXamlToolkit](https://github.com/ButchersBoy/MaterialDesignInXamlToolkit) together with Exceptionless and the `CrashReportDialog` does not look OK to me. I guess other themes applied at the application level can cause similar issues.

![image](https://cloud.githubusercontent.com/assets/1139118/10344520/023e8314-6d24-11e5-82ce-29c03c53f100.png)

I have two problems with t

[2015-10-08 01:56] niemyjski commented on #60
Yeah, that doesn't look very good.

1. Would you mind submitting a patch for this that makes it behave the same but doesn't use a width.
2. I'm not sure the best thing to do for this. By default we don't hard code any style keys because we want it to pick up themes/be easier to theme. It's been a few years since I styled a third party wpf control, so please let us know if there is anything specifi

[2015-10-08 12:58] niemyjski commented on #60
Please let me know what you think.

[2015-10-08 20:44] mgnslndh commented on #60
Ok, I'll have a stab at it and see what I can do.

[2015-10-12 09:38] Phyxion commented on #59
Is the NuGet package pushed already? I just got back and can check it out if needed.

[2015-10-12 12:13] niemyjski commented on #59
Yes, it's been pushed.

[2015-10-12 12:55] Phyxion commented on #59
I'll check it out soon (I hope this week).

[2015-10-12 15:28] niemyjski commented on #60
Thanks! If you need any help please let us know.

[2015-10-13 12:33] Phyxion commented on #59
Seems to work again (at least Nancy starts again), didn't receive an exception yet but I assume everything is OK now.

[2015-10-14 09:09] niemyjski commented on #59
Please keep me updated

[2015-10-20 15:07] chrisproud opened #62 "High CPU infinite loop caused by plugin.Run() enumerating dictionary"
What looks like a threading issue in exceptionless has just taken down one of my servers. This occurred following IIS recycling the process, so basically at app start..  I have managed to get a memory dump of the process and this was reported from the analysis:

( 85 -snip 47 thread IDs here- 157 )
30.25% of threads blocked (49 threads)

http://blogs.msdn.com/b/tess/archive/2009/12/21/high-cpu-in-

[2015-10-20 20:46] niemyjski commented on #62
I just updated the guidelines and seen this issue. This is not good at all. I've never seen this behavior and we log stuff on startup with our app. I'll take a look at the code in question right now.. We lock the config the second process queue or event submission occurs.

If you could send me a small sample that can reproduce that would be wonderful as I could get this under the debugger.

[2015-10-20 20:50] niemyjski commented on #62
Another thing to do would be to enable tracing/logging https://github.com/exceptionless/Exceptionless.Net/wiki/Troubleshooting which will write out what the client is doing + log any exceptions that are submitted so you can see what error is occurring

[2015-10-20 20:52] niemyjski commented on #62
Please feel free to join our chat room as well: https://gitter.im/exceptionless/Discuss

[2015-10-20 20:55] niemyjski commented on #62
Maybe the test would be to run the plugin manager on multiple threads concurrently in a test.

[2015-10-20 21:14] niemyjski commented on #62
If you can join our chat room that would be a huge help. I can also jump on with you and try and get this resolved.

[2015-10-21 20:36] chrisproud commented on #62
Can't repo the issue. Parking this issue for now.

[2015-10-21 20:36] #62 closed

[2015-10-29 14:26] niemyjski commented on #60
I just made some changes to the dialog for #61 to address a bunch of white space at the bottom of the dialog. I'm also going to push your changes out now.

[2015-10-29 14:33] niemyjski commented on #60
@mgnslndh if you want, I'd be more than happy to pair with you on changing how this dialog is shown.

[2015-10-30 18:10] niemyjski commented on #58
I added an offline section to the wiki and I'm going to close this issue:

https://github.com/exceptionless/Exceptionless.Net/wiki/Configuration#offline-storage

[2015-10-30 18:10] #58 closed

[2015-10-30 18:37] niemyjski commented on #46
I'm unable to reproduce this issue.

[2015-10-30 18:37] #46 closed

[2015-10-30 18:43] niemyjski commented on #23
We should already support this through our portable client. That's what I got from talking with rocky a while back.

[2015-10-30 18:43] #23 closed

[2015-10-30 18:52] niemyjski commented on #7
The `Unable to index into an object of type System.Xml.XmlChildNodes` exception seems to be caused by the old version of PowerShell. I did some looking around and there doesn't appear to be any work arounds listed for this. As such if you are running into this error please comment on this issue as well as please configure the client by following these steps: https://github.com/exceptionless/Except

[2015-10-30 18:52] #7 closed

[2015-10-30 19:26] #6 closed

[2015-10-30 19:26] niemyjski commented on #6
@CyberSinh Thanks for reporting this issue! Please let me know if you want me to push this fix right away.

[2015-10-31 15:06] niemyjski commented on #48
@Kordonme Any luck on creating a sample?

[2015-10-31 15:16] ejsmith commented on #47
Plus we are using compression so it shouldn't be a huge deal. Let's make this change.

[2015-10-31 15:18] ejsmith commented on #45
@malvada would love for you to take a stab at this. We could use some help. :-)

[2015-10-31 15:28] ejsmith commented on #15
Need to look into this some more, but I am worried about what would break if we changed inner to support multiple errors. Need to dig in to find out.

[2015-11-02 13:40] Phyxion commented on #59
Took a while to get an exception but it's working :+1:

[2015-11-12 08:35] mgnslndh commented on #60
I am a bit busy at the moment but I will go back and check out the new release. I have also noticed that the dialog style is broken again because of updates in [MaterialDesignInXamlToolkit](https://github.com/ButchersBoy/MaterialDesignInXamlToolkit). Perhaps the best solution is to support pluggable dialogs as you suggested.

[2015-11-12 14:23] niemyjski commented on #60
Yes, I think that would be a good thing. Currently you can override this dialog completely by passing false to Register() and hooking up the event handlers but we should make this easier.

[2015-11-23 23:32] #14 closed

[2015-11-23 23:32] #45 closed

[2015-11-23 23:33] niemyjski commented on #50
@ejsmith I think that we should include this info with 404's.

[2015-11-23 23:34] niemyjski commented on #50
This might be related to https://github.com/exceptionless/Exceptionless.Net/issues/48

[2015-11-23 23:35] niemyjski commented on #28
@barranger Have you had any luck writing a client for vnext?

[2015-11-23 23:40] niemyjski commented on #48
@Kordonme Any lucks tracking this down?

[2015-11-23 23:47] #50 closed

[2015-11-23 23:49] niemyjski commented on #50
I'm made this change to include the extra extended data on 404's. Here's why:

* We could be removing users extended data items (DefaultData or via a Plugin).
* You might want to know if an exception was thrown via the 404.
* You might want to know version info, user info etc and be able to search by this.

[2015-11-23 23:50] niemyjski commented on #60
@mgnslndh I'm planning on releasing 3.2 very soon. Is there any chance you could send me a pull request with bug fixes.

[2015-11-27 10:58] mgnslndh commented on #60
@niemyjski I'm sorry but I do not think I have the time to fix this just. I will have to do something about the issue, just not at this point in time :)

[2015-12-09 13:57] niemyjski opened #63 "Request Info QueryString parameters names are being changed by the serializer"
goId is being changed to go_id, we should preserve this.

This also affects Cookie names and post data.

[2015-12-19 21:41] gr0ss opened #64 "readme.txt epansion"
As a noob coder loading Exceptionless.Windows into my project for the first time...

readme.txt showing up right on the load of the nuget package was awesome, and the text reads really well, easy to follow, but....

Right after the initial setup, I want a link to take me to more small examples on how to set up the cool implementations of your project like Blake showed me in a demo.  Just small thi

[2015-12-23 00:34] Drel opened #65 "Duplicate errors with unhandled exceptions in ASP.NET MVC application"
I just switched from AppFail.Net due to extremely lengthy delays in notification, to try out Exceptionless.Net.  I was able to easily add the libraries using NuGet:

    PM> Install-Package Exceptionless.MVC -Source nuget.org
    Attempting to resolve dependency 'Exceptionless.Portable (= 3.2.1424)'.
    Installing 'Exceptionless.Portable 3.2.1424'.
    Successfully installed 'Exceptionless.Portab

[2015-12-23 16:23] yetanotherchris commented on #48
We're also getting doubled-up exceptions, the problem appears to be because the HttpModule registers a global IExceptionFilter attribute:

https://github.com/exceptionless/Exceptionless.Net/blob/8385a907c3066197be1d69b39dda5c6bc780b5aa/Source/Platforms/Mvc/ExceptionlessModule.cs#L22

I try clearing it, but the module re-registers it everytime.

        public ActionResult Index()
        {
			Glob

[2015-12-23 16:29] yetanotherchris commented on #48
I'm confused how duplicate exceptions aren't always sent, when exceptions are sent to Exceptionless in the HttpApplication (https://github.com/exceptionless/Exceptionless.Net/blob/8385a907c3066197be1d69b39dda5c6bc780b5aa/Source/Platforms/Web/ExceptionlessClientExtensions.cs) and through this filter. You mentioned they are discarded, but is there any point having an IExceptionFilter if the HttpAppl

[2015-12-23 16:53] niemyjski commented on #65
This sometimes happens when exceptions are bubbled up through multiple error handlers. I have a task to look into to see if we wrap these and rethrow if we can deduplicate the exceptions. Are the exception stack traces exactly the same?

[2015-12-23 17:16] Drel commented on #65
Could this be caused because I'm also using ELMAH to log errors locally?

Good question re: identical stack traces -- the first stack trace is fairly short, the second stack trace is identical to the first one for the length of the first, but then has the following appended onto it:

	at System.Web.Mvc.Async.AsyncControllerActionInvoker.<>c__DisplayClass21.b__1e(System.IAsyncResult asyncResult) at

[2015-12-23 18:00] niemyjski commented on #48
We hook into every error handling point that we can because over time we've found that sometimes exceptions are lost if you don't. We have a deduplicating plugin that runs on the client for every event and it checks to see if an error has already been submitted within the past 2 seconds, if it has we discard it. In this case we should do more to investigate if we wrap and rethrow the exception if

[2015-12-23 18:01] niemyjski commented on #65
I think this is directly related to this: https://github.com/exceptionless/Exceptionless.Net/issues/48#issuecomment-166936929 It happens due to multiple error handlers catching the same exception but the stack trace is different so we don't discard them. I'm going to mark this as a bug and we should see if we can wrap the exception and rethrow if it's discarded.

[2015-12-23 18:08] Drel commented on #65
Sounds great, thank you!  Apologies for the duplicate bug, I looked through the issues before filing, but didn't catch the other one since it was filed under "MVC package missing 404 handling?".

[2015-12-28 15:34] niemyjski commented on #64
Thanks for your suggestion. I've updated the read me with a link to sample usages!

[2015-12-28 15:34] #64 closed

[2016-01-04 11:17] yetanotherchris commented on #65
For now, I've removed this line:

- https://github.com/exceptionless/Exceptionless.Net/blob/8385a907c3066197be1d69b39dda5c6bc780b5aa/Source/Platforms/Mvc/ExceptionlessModule.cs#L22

And recreated the HttpModule in a custom HttpModule, adding the `ExceptionlessWebPlugin` source.

Would it be possible to add a configuration option to make the filter registration optional? For example:

    Exception

[2016-01-04 15:28] niemyjski commented on #65
I'm in the process of finishing a major new feature on both client and the api. and then I'll take a look into this (if one of you could help with my suggestion of wrapping the errors before we rethrow, that would be greatly appreciated).

[2016-01-04 15:29] niemyjski commented on #65
I do think that we might be able to get rid of one of the error handlers. But I'd want to be 100% sure that the one we do remove is being covered by the other integration point.

[2016-01-05 21:14] yetanotherchris commented on #65
I'm happy to help out, what is the reasoning behind not sending too many of the same errors at once? In terms of the error attribute, I've only used it on its own for MVC related errors (or OnException in ControllerBase) to redirect to a view rather than to log, when you want ever single error including 404s from IIS the HttpApplication one seems better.

[2016-01-06 18:01] niemyjski commented on #65
Yeah, we just want to cut down on the number of exceptions being logged if they are the same exception. I think we need to look into wrapping the exception before rethrowing it in the mvc client. Can you look into this?

[2016-01-08 10:52] yetanotherchris commented on #65
An would an MD5 of the exception.ToString() be enough?

[2016-01-08 13:17] niemyjski commented on #65
No, we are already doing it intelligently based on the hash, the problem is the stack traces are being changed because it's being rethrown so we need to wrap it in a new exception and rethrow it so we de duplicate it. I'm finishing up some this major feature hopefully today and I'll take a closer look at this.

[2016-01-12 18:31] niemyjski commented on #1
I'm closing this as we support Silverlight and any issues you may be seeing are addressed in this issue.

[2016-01-12 18:31] #1 closed

[2016-01-14 18:07] niemyjski commented on #65
After doing some researching I think we are fine with ignoring `HttpApplication.OnError` handler and just using the global filter. I did some testing and it seems that we are picking up all exceptions. I'm leaving the existing extension methods for wiring up to `HttpApplication.OnError` incase anyone wants them. This is committed in a branch and will be fixed in 3.2 which will be deploying soonish

[2016-01-14 18:07] #65 closed

[2016-01-14 18:09] niemyjski commented on #48
@yetanotherchris I've fixed the duplicate issue and that will be shipping in 3.2 soonish. I'm going to close this as I've yet been able to reproduce this issue. If you can reproduce, please reopen this issue with a sample and we'll get this fixed.

[2016-01-14 18:09] #48 closed

[2016-01-18 22:47] niemyjski commented on #65
These changes have been pushed

[2016-01-22 19:19] skoub opened #68 "Request Info Cookie names are being changed by the serializer"
a cookie name *lastLogin* is replaced with *last_login*. It should keep the original value as is.

[2016-01-22 19:28] skoub opened #69 "Request Info Post Data parameter names are being changed by the serializer"
When you submit a form (HttpPost), the parameter names are changed. For example, the parameter name *demandeInfo[actionIds][]* is changed for *Demande info[action ids][]*.

[2016-01-22 20:03] niemyjski commented on #68
I'm closing this as a duplicate of I'm closing this as it's a duplicate of https://github.com/exceptionless/Exceptionless.Net/issues/63 Is there any chance you could help us by taking a look our our serializer settings.

[2016-01-22 20:03] #68 closed

[2016-01-22 20:03] niemyjski commented on #69
I'm closing this as a duplicate of I'm closing this as it's a duplicate of https://github.com/exceptionless/Exceptionless.Net/issues/63 Is there any chance you could help us by taking a look our our serializer settings.

[2016-01-22 20:03] #69 closed

[2016-01-22 20:39] skoub opened #70 "Not every exceptions are caught in MVC or WebAPI"
Some exceptions in my MVC application are not caught by Exceptionless and don't know why:

- When a mvc controller cannot be created

*InvalidOperationException: An error occurred when trying to create a controller of type 'WebApplication2.Controllers.HomeController'. Make sure that the controller has a parameterless public constructor.*

- If the error is outside MVC, the error is not caught. For

[2016-01-22 22:27] niemyjski commented on #70
@skoub we recently disconnected the global mvc error handler as we were getting duplicate exceptions, upon review it looked like we wouldn't need to wire up to it anymore. Can you try wiring back up to this and see if this fixes this behavior.

https://github.com/exceptionless/Exceptionless.Net/commit/6943b0cf57b7dad07b0f421a042974815180c3f0

For Web API 2.1 can you create a new exception filter w

[2016-01-23 02:35] skoub commented on #70
I will give it a try next week and give you news. Thank you for your help!

[2016-01-28 20:15] danlarson opened #72 "Logging aggregates when throtling has kicked in"
After monthly throttling has kicked in, I would like to see the top n (n =10?) issues be captured in aggregate, at least for paid accounts. Instead of shutting off logging until the next reset, can we get something like the following:

You've hit the limit and are being throttled. Here are the top exceptions that might be causing this:

NullRefException            Count 10000
DivideByZeroException

[2016-01-28 20:34] niemyjski commented on #72
You get this view by looking at the most frequent exceptions view: https://be.exceptionless.io/type/error/frequent It would be good if we sent a notification for this..

We are working on better deduplicating in the respective branch to where it increments a counter. But if you are over your limit the clients will not submit anything because any request is a resource usage. Every plan is based on

[2016-01-28 20:35] niemyjski commented on #72
References https://github.com/exceptionless/Exceptionless/issues/112

[2016-01-28 20:36] niemyjski commented on #72
I'm going to close this issue as I feel these outstanding issues cover your feedback (we greatly appreciate it). If you have any questions or concerns or feel that this is a different issue please comment back and we'll reopen this.

[2016-01-28 20:36] #72 closed

[2016-01-28 20:36] niemyjski commented on #70
@skoub were you able to verify if these changes worked?

[2016-01-28 20:45] skoub commented on #70
I haven't had time to play with it. But if you had duplicate error with the global mvc error handler, it will come back if it plug it back for sure. So we will have to search why we have duplication.

[2016-01-29 22:17] niemyjski opened #73 "Add plugins to ignore events that match the user agent filter"
We send down a client config setting called `@@UserAgentBotPatterns`. We should check this comma delimited list against the user agent..

[2016-02-01 02:44] skoub commented on #70
i have tested the mvc fix and it seems to solve the problem. I haven't tested the Api fix yet.

[2016-02-01 02:48] skoub commented on #70
Look at the screenshot, is it possible that this is the problem of the duplicate inserts that you have?

![image](https://cloud.githubusercontent.com/assets/865002/12707602/3d5d9fac-c864-11e5-9978-957997d31fcb.png)

[2016-02-01 13:15] niemyjski commented on #70
Yeah looks like it I also see the debugger display is pouting to a property that doesn't exist either

[2016-02-01 13:15] niemyjski commented on #70
Those two errors would be the same but the stack trace will change a bit between the handlers

[2016-02-01 13:16] niemyjski commented on #70
I think I may have an ideal on how to fix that

[2016-02-02 17:20] niemyjski commented on #70
@ejsmith I saw that a few different services clients store a `@flag` in the exceptions `Data` property. I think we could also do the same and then we just check  for this in the duplicate checker plugin... What are your thoughts.

[2016-02-02 18:11] skoub commented on #70
I saw the same thing myself. Using a flag to tell that the exception is already grabbed by your client. The logic to remove the duplicate entry will be on the client side or server side?

[2016-02-02 18:17] niemyjski commented on #70
This would all be on the client.

[2016-02-03 17:31] ejsmith commented on #70
Sounds good to me.

[2016-02-04 17:12] niemyjski commented on #70
This should be fixed by this commit: https://github.com/exceptionless/Exceptionless.Net/commit/564d6eb6848ddac0456646d7b8b88fa039561b17

We will deploy this when we release the next client build (hopefully) in the next week. The work around is to call our extension methods as described above until we fix this. Please let me know if you have any questions.

[2016-02-04 17:12] #70 closed

[2016-02-05 18:01] ejsmith opened #77 "Add support for X-Forwarded-For header"
Adding support for this will help with proxy servers and would enable us to properly identify individual users. Should at least make sure this is going to the server side to be analyzed there.

[2016-02-05 18:01] ejsmith commented on #77
https://en.wikipedia.org/wiki/X-Forwarded-For

[2016-02-05 18:55] niemyjski commented on #25
I'm closing this as the new duplicate checker that we ( @srijken ) are working on will taken into account the full event hashcode for deduplication.

[2016-02-05 18:55] #25 closed

[2016-02-05 21:05] niemyjski commented on #8
@xbelt were you able to take a look into this? I hope you did well on your exams

[2016-02-05 21:09] niemyjski commented on #34
We added an event to the client called `SubmittedEvent` which is fired after the event is processed but before it's enqueued. I don't think we will be adding an event after it's successfully posted or failed because they are processed in the background on a timer in batch. I think this would make it \ hard to show which ones have been submitted and which ones failed. We will keep retrying them x t

[2016-02-05 21:09] #34 closed

[2016-02-05 23:53] #15 closed

[2016-02-07 15:23] ahmettaha opened #78 "source in CreateLog"
Hello,

Why is the source parameter required with the CreateLog method if I want to send a LogLevel also. I see that there is an override, if I dont provide LogLevel, but there is no method signature like below. I'm sending null for source for now. is this a problem?
`
CreateLog(this ExceptionlessClient client, string message, LogLevel level);
`

[2016-02-08 01:52] ejsmith commented on #78
Yeah, there really isn't any reason why source should be necessary. Guessing that using null for source works fine, right?  If so, then I guess we just need an extension method with that signature. Can you submit a pull request for that?

[2016-02-08 10:20] ahmettaha commented on #78
is it possible that "most frequent" table to group with source and "most recent" to group by message. that's what it looks like. I'm sending null as source, and "(global)" is displayed in "most frequent"

[2016-02-08 14:08] niemyjski commented on #78
Most frequent is a stack (of events) and most recent is the actual event. If you send in null for source, than it will be put into a global stack. as logs are stacked on source (where they came from). Typically this should be set. @ejsmith I wonder if we can set it to member caller attributes on > .NET 4.5

[2016-02-08 14:13] ahmettaha commented on #78
If you could do that. It would be great.

[2016-02-08 15:43] niemyjski commented on #78
@ahmettaha would you mind submitting a pull request for the overload that doesn't take source.

[2016-02-09 14:30] xbelt commented on #8
@niemyjski Yeah I started quite a while ago but never found enough time for it. I do not think I will be able to actually complete this project in the near future... Sorry about that

[2016-02-09 18:38] niemyjski commented on #8
Thanks for the update. Is there anyone who would like to take this over?

[2016-02-10 08:44] ahmettaha commented on #78
i think the library is targeting .net 4. I couldnt use caller attributes. So I couldnt create a pull request. I'm just going to add to my own project for now. thank you

[2016-02-10 14:54] niemyjski commented on #78
It's fine, I think we still need an overload that takes the message and loglevel, would you mind submitting this. We can worry about the member caller attributes later :)

[2016-02-11 17:15] #73 closed

[2016-02-15 20:13] ahmettaha commented on #78
I have create a pull request.

https://github.com/exceptionless/Exceptionless.Net/pull/79

[2016-02-15 20:55] niemyjski commented on #78
Awesome thanks a ton! This change will go out today!

[2016-02-15 20:55] #78 closed

[2016-02-15 21:17] niemyjski commented on #78
https://github.com/exceptionless/Exceptionless.Net/releases/tag/v3.3.4 This has also been pushed to NuGet.

[2016-02-24 03:54] #63 closed

[2016-02-25 17:02] niemyjski commented on #68
A new version of the client is being pushed that fixes this issue.

[2016-03-12 19:30] niemyjski opened #83 "Improve handling of Exception<T> where T : struct"
@corneliutusnea commented on [Wed Aug 12 2015](https://github.com/exceptionless/Exceptionless/issues/132)

We use an Exception<T> which gets rendered a bit oddly in the UI.
public class CustomException<T> : ApplicationException
where T : struct
We use this so we can use enums instead of strings for error messages that are then easy to group in "buckets" or localize.

The the EL UI they get rendere

[2016-03-12 19:32] niemyjski opened #84 "Dynamic log levels controlled via client configuration"
@KasperLK commented on [Thu Apr 09 2015](https://github.com/exceptionless/Exceptionless/issues/88)

Option to use "Client Configuration" value in NLog.config file.
Could be used for "minlevel" on the logger rule.

---

@niemyjski commented on [Thu Apr 09 2015](https://github.com/exceptionless/Exceptionless/issues/88#issuecomment-91233533)

+1

[2016-03-12 19:32] niemyjski opened #85 "Add owin request object to web api client"
@luisvsilva commented on [Thu Nov 20 2014](https://github.com/exceptionless/Exceptionless/issues/46)

It would be good to add the original request object when exception happen on webapi request:

At the moment I am using a ExceptionFilterAttribute in my web api config with something along these lines:
[code]

---

@niemyjski commented on [Tue Feb 10 2015](https://github.com/exceptionless/Exception

[2016-03-12 19:32] niemyjski opened #86 "Exceptions in Web API MessageHandlers are not logged"
@srijken commented on [Fri Nov 14 2014](https://github.com/exceptionless/Exceptionless/issues/45)

When an exception occurs in a message handler when using WebAPI, it is not logged. See the code example below.

    // OWIN startup class
    public class Startup
    {
        public void Configuration(IAppBuilder app)
        {
            var configuration = new HttpConfiguration();
            co

[2016-03-21 18:30] edgarecayce opened #88 "Boolean values as 0/1 vs. true/false in Configuration/ Project Settings"
right now if you use 0 or 1 as boolean values it will not properly cast it - you have to use "true" or "false" - it should either make it clear that you have to do that, or cast 0/1 properly.

[2016-03-21 18:36] niemyjski commented on #88
Thanks for reporting this. We will add support for this to our clients.

[2016-04-02 00:13] CyberSinh opened #89 "Wrong os version returned on Windows 10"
Hi,

Exceptionless.Net seems to report 6.2 OS version on Windows 10 machine. Is that normal?

Extract of JSON returned by Exceptionless .NET client (used in a WPF application):
"o_s_name":"Microsoft Windows 10 Home","o_s_version":"6.2.9200.0"

Thanks.

Regards,

Cyber Sinh

[2016-04-02 00:34] ejsmith commented on #89
I think that might be right, but I'm not totally sure.

http://arstechnica.com/information-technology/2014/11/why-windows-10-isnt-version-6-any-more-and-why-it-will-probably-work/

[2016-04-02 14:05] CyberSinh commented on #89
If that's true, should I consider the "OS Name" more reliable than "OS version" to compute statistics about OS usage?

[2016-04-02 21:33] niemyjski commented on #89
Yeah, it probably would be better to use the name as long as it isn't localized. We are just using EnvironmentInformation api to get the os version. It might be worth logging a bug with microsoft on this one.

[2016-04-04 15:14] niemyjski commented on #89
We populate it like this: https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Extras/Services/EnvironmentInfoCollector.cs#L38 could you please research this further and let us know if there is a better way to get the version?

[2016-04-05 18:37] haliphax opened #90 "Package installation script doesn't create configSections element"
In Visual Studio 2013, when installing the `Exceptionless` package, the following errors occur:

[code]

[2016-04-18 13:35] niemyjski opened #92 "Add HTTP Module for catching ASMX service exceptions"
Looks like it's not possible to catch asmx exceptions without either wrapping each service with a try catch call or writing an http module as stated in jeff atwoods reply (http://stackoverflow.com/questions/211530/why-global-asax-application-error-method-does-not-catch-exceptions-thrown-by-asm). The module would need to contain logic like the following: https://github.com/exceptionless/Exceptionle

[2016-04-25 08:02] hmvs commented on #28
Any news? We started writing new project on asp.net core 1.0. Have you tried to integrate exceptionless for web api?

[2016-04-25 10:36] rbaz commented on #28
Hi Vadim,
Well, I have quit my job. I have no idea if the plug-in keep used or not.
thank's.

2016-04-25 4:02 GMT-04:00 Vadim Kurachevsky <notifications@github.com>:

--
Cordialement.

................

*Bouazza Rochdi (B.Ing)*
*Consultant .Net *
*+(514)-326-0315*

[2016-04-25 12:02] hmvs commented on #28
Hi,  @rbaz.
Thanks for the answer.
Will wait for comment from @niemyjski

[2016-04-25 13:07] niemyjski commented on #28
We are looking to migrate everything to the new project format and add support for .net core. However, we are waiting until rc2 before even starting as there are so many breaking changes and all the tooling has changed between rc1 and rc2. If someone wants to start working on it we can help out but I think it's best to wait for rc2.

[2016-04-25 13:45] hmvs commented on #28
I see. Would be great if you can try to integrate current version of exceptionless to the rc1 web api project and post a sample. For dnx451 as target.
Thanks

[2016-04-25 14:13] niemyjski commented on #28
@hmvs Can you take a stab at this and let us know? I'm just worried that we may be waisting our time on rc1 as we know so many things have changed (apis and tooling). I mean one could look at rc2 nightlies I don't know how locked down they are but they said the tooling is 3-6 weeks out.

[2016-04-25 14:20] ejsmith commented on #28
I feel like we should wait for rc2. Unless someone wants to take a stab at it.

[2016-04-25 14:51] niemyjski commented on #28
We have a public slack channel here: http://slack.exceptionless.com if you want to join and chat about .net core.

[2016-05-04 17:39] rbaz commented on #28
Hello Vadim,
What's new I have sometimes. What can I do?
Thanks.

2016-04-25 10:51 GMT-04:00 Blake Niemyjski <notifications@github.com>:

--
Cordialement.

................

*Bouazza Rochdi (B.Ing)*
*Consultant .Net *
*+(514)-326-0315*

[2016-05-04 18:34] niemyjski commented on #28
@rbaz I think it's best to start on upgrading the project to the new project format using rc2 bits (not sure how that's sitting).

[2016-05-04 18:38] ejsmith commented on #28
Yeah, we've been waiting for RC2 to start because of all the churn.

[2016-05-04 18:40] rbaz commented on #28
Ok, I will look for that this week!
Le 2016-05-04 2:38 PM, "Eric J. Smith" <notifications@github.com> a écrit :

[2016-05-04 18:41] ejsmith commented on #28
Yeah, I think they are very close to releasing it.

[2016-05-05 05:11] rbaz commented on #28
Ok, I took a look for that. And I think  I will beginning to create the
structure for the project -- Solution --- Class Librairie -- projects test
and ...
After that we will wait for the RC2.
I think is safe like this.

2016-05-04 14:41 GMT-04:00 Eric J. Smith <notifications@github.com>:

--
Cordialement.

................

*Bouazza Rochdi (B.Ing)*
*Consultant .Net *
*+(514)-326-0315*

[2016-05-10 04:12] #88 closed

[2016-05-17 07:46] hmvs commented on #28
Hi guys, RC2 released :)

[2016-05-17 10:57] rbaz commented on #28
Hi,
Yeah!

2016-05-17 3:46 GMT-04:00 Vadim Kurachevsky <notifications@github.com>:

--
Cordialement.

................

*Bouazza Rochdi (B.Ing)*
*Consultant .Net *
*+(514)-326-0315*

[2016-05-17 12:37] niemyjski commented on #28
Yeah! I'm excited

[2016-05-17 12:44] niemyjski commented on #28
@ejsmith not sure if the first step is to upgrade everything to the new project format or just the new project we will create. Might be a good idea to upgrade everything (some things might change after release but I think we might be good (https://github.com/aspnet/Home/issues/1451). Appveyor will be updating there base images real shortly with the new dotnet cli but looks like all the appveyor sc

[2016-05-17 14:30] niemyjski commented on #28
I'm working on this starting right now!

[2016-05-18 14:30] zgredas opened #97 "Add owin request info object via middleware"
"it’s currently not possible to add the request info via middleware in the current form as we expect an HttpActionContext and use the request object from that.. I almost think that the web api plugin should be refactored a little bit to be a bit more generic and maybe provide overloads for both OwinContext and HttpActionContext as well as helpers for specifying it on the event builder.

One work a

[2016-05-18 14:33] niemyjski commented on #97
@zgredas as a short term work around you could populate the [request info object from the IOwinContext](https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Platforms/WebApi/HttpRequestInfoCollector.cs#L15) and populate it like this: `ex.ToExceptionless().AddObject(Event.KnownDataKeys.RequestInfo, GetRequestInfo(context.Request)).Submit();`

Would be a huge help if you could send

[2016-05-19 10:06] zgredas commented on #97
@niemyjski please take a look on the following code

        public static RequestInfo ToRequestInfo(this IOwinRequest request, IEnumerable<string> exclusions = null)
        {
            if (request == null)
                return null;

            var info = new RequestInfo
            {
                ClientIpAddress = request.LocalIpAddress,
                HttpMethod = request.Method

[2016-05-19 12:04] niemyjski commented on #97
It should be the clients remote ip address

[2016-05-19 12:06] zgredas commented on #97
@niemyjski ok, so it leaves us with the following

    public static RequestInfo ToRequestInfo(this IOwinRequest request, IEnumerable<string> exclusions = null)
        {
            if (request == null)
                return null;

            var info = new RequestInfo
            {
                ClientIpAddress = request.RemoteIpAddress,
                HttpMethod = request.Method

[2016-05-24 14:32] andersgenberg opened #98 "Line breaks in Exception.Message is removed when submitting the exception"
When you submit an `Exception` all line breaks are removed from `Exception.Message`.
Exapmle:
[code]

When intercepting the message with Fiddler this is what is sent:
[code]
![exception less in debugger](https://cloud.githubusercontent.com/assets/19546404/15507731/0dd0d692-21cd-11e6-94f6-a131425189b9.PNG)

[2016-05-24 14:57] niemyjski commented on #98
It's being removed when we break down an exception into a model: https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Extras/Extensions/ToErrorModelExtensions.cs#L132

@ejsmith I did a blame and it's been like that for a long time (since you imported it). Do you have any why we would have done this?

[2016-06-03 15:55] niemyjski commented on #28
I just wanted to let you know that we have the client written in the netstandard branch and we should be pulling it into master soonish.

We'd love your feedback on the client.. You should be able to get the latest prerelease client from the following nuget feed: https://ci.appveyor.com/nuget/exceptionless-net

[2016-06-03 15:59] niemyjski commented on #98
Upon further looking into we feel that this is a bug and we'll change this behavior in the near feature, we'll need to also update email templates and the spa app to handle new line characters properly.

[2016-06-10 00:31] laughinggoose commented on #56
Is this still needed? I looked at DefaultEventQueue and I couldn't see any attempt counters.

[2016-06-13 13:10] niemyjski commented on #56
Yes, this happens when you get the event batch: https://github.com/exceptionless/Exceptionless.Net/blob/982a771b7a7dc35e94a9db017477c567bba34c40/src/Exceptionless/Extensions/FileStorageExtensions.cs#L106

[2016-06-13 13:36] niemyjski commented on #28
​Hey, I wanted to let you know that we have a nightly build which is stable and will become a beta release. It's on nuget as a prerelease v4 build. It's a major version because we got rid of the portable package and merged everything in to the Exceptionless package and made it pcl + .net standard.  Please feel free to update your nuget packages to this release and let us know about any issues.  If

[2016-06-20 14:34] niemyjski commented on #8
I'm going to close this as it also needs to also support wpf. Please feel free to open a pull request and reference this issue and we'll reopen this issue. Ideally, we'd love if this opened a new dialog or layer ontop of this dialog with the content.

[2016-06-20 14:34] #8 closed

[2016-06-20 14:39] niemyjski opened #104 ".NET Core ILogger implementation"
We need to add a logging target for `Microsoft.Extensions.Logging`

https://docs.asp.net/en/latest/fundamentals/logging.html

Could also do something like this: `loggerFactory.AddProvider(new ExceptionlessLoggerProvider());`

So we need to have an extensions for both WebHostBuilder ([which will configure the logger on startup](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hos

[2016-06-21 16:30] niemyjski commented on #28
A beta is now available: https://github.com/exceptionless/Exceptionless.Net/releases/tag/v4.0.0-beta

[2016-06-21 16:30] #28 closed

[2016-06-23 17:24] niemyjski commented on #28
Has anyone had a chance to try the beta? I'd love your feedback.

[2016-06-25 12:16] hmvs commented on #28
Will try to integrate it on monday. Our first product on asp.net core close to release so as usual we will integrate exceptionless into it.
Thanks for the efforts.

[2016-06-28 21:28] niemyjski commented on #28
https://exceptionless.com/exceptionless-4-0-net-core-asp-net-core-support/ It has shipped! Let me know if you run into any issues.

[2016-07-01 14:08] hmvs commented on #28
Seems we integrated, and working fine :) Thanks

[2016-07-20 19:55] joelluijmes opened #106 "Change ExceptionlessSendErrorsAttribute to be configurable"
Currently when using Exceptionless.Mvc it automatically registers the `ExceptionlessSendErrorsAttribute`, however I already have need for a `IExceptionFilter` and wanted to use Exceptionless from there. (There is some additional stuff that happens, creating a reference id.)

When the `ExceptionlessSendErrorsAttribute` executes first it conflicts with my custom filter. My request was to make this c

[2016-07-21 09:21] MihaMarkic opened #107 "Improved Xamarin support"
I'm playing with Xamarin (PCL exceptionless) and seeing that everything not yet sent is lost if app crashes. Including the reason for app crashing.
I understand there is no file system in PCL, but this issue has to be addressed somehow. Perhaps through DI or something.

[2016-07-21 09:41] MihaMarkic commented on #107
One workaround would be to call client.ProcessQueue(). This works better, but still, if there are problems like no network at the moment or OS decides to terminate the app regardless it won't work.

[2016-07-21 10:45] MihaMarkic commented on #107
to continue my monologoue :)
I've copied FolderObjectStorage and implemented it at Xamarin level and it works nicely.
Should I create a pull request, anybody interested?

[2016-07-21 12:09] MihaMarkic commented on #107
Added pull request #108

[2016-07-21 12:37] niemyjski commented on #107
Folder object storage, wiring up to submit on process exit and app domain unhandled exception is available in FullFramework and .NET Standard 1.3+, can you only reference pcl packages currently in Xamarin?

[2016-07-21 12:49] niemyjski commented on #107
Is it still a pain to build on appveyor (https://www.appveyor.com/docs/lang/xamarin) now that it's free?

I guess it doesn't support the new project format either from what I've read so it's tied to pcl which is kinda limited :\. I bet we can source import (add file link) the files we need to make this easier.

Some things I think we may want to support as well is hooking into platform specific ev

[2016-07-21 12:58] MihaMarkic commented on #107
Sure. About referencing 4.5 or .netstandard. The former yields

While xamarin just yesterday introduced support for .netstandard 1.6. However I tried with exceptionless .netstandard 1.3 and 1.5 but I ended up at can't load System.AppDomain.

Furthermore Directory.GetFiles doesn't like directory path as searchpattern.

[2016-07-21 13:00] MihaMarkic commented on #107
PR resubmitted.

[2016-07-21 13:03] niemyjski commented on #107
Thanks! If you want to work on ios as well that would be greatly appreciated. let me know when you want to merge in and I'll try and figure out the above error you were seeing. If we could reference net standard 1.5+ we basically wouldn't need more than a few platform specific hooks and we'd be done.

Also please feel free to join our slack http://slack.exceptionless.com

[2016-07-21 13:21] niemyjski commented on #106
We only check for an existing instance of `ExceptionlessSendErrorsAttribute`, if it's not there we add it. The problem if we make it virtual is that basically it's very very hard to ensure that if you inject your own instance in your own http module that it will be added before our module. So basically you don't know if your instance was picked up.

Also, there is not very much contextual data tha

[2016-07-21 13:21] #106 closed

[2016-07-25 15:15] niemyjski commented on #107
Looks like you have to have Xamarin 6.0.2 installed or newer otherwise it can't handle packages that contain .net standard assemblies.

I've also filed a bug here to try and get some help.. https://bugzilla.xamarin.com/show_bug.cgi?id=42786

As a short term work around: Currently, it looks like there is an issue with one of our .net standard dependencies and it causes install issues. It also seems

[2016-07-25 18:36] niemyjski commented on #107
https://github.com/dotnet/buildtools/issues/877

[2016-08-01 15:15] CyberSinh opened #110 "Missing data in JSON posted events"
Hi,

In my software, I use the following code to include ReferenceId in all events sent by Exceptionless.Net :

[code]

But several events sent don't have ReferenceId in JSON. Do you know why?

Thanks.

[2016-08-03 13:35] niemyjski commented on #110
Are some of them getting reference id's and others are not?

You could do elClient.Configuration.UseReferenceIds(); which will automatically do this for you.

[2016-08-03 14:37] CyberSinh commented on #110
Hi Blake,

Yes, some of them getting reference id but not all of them.

I am using the SubmittingEvent (and not UseReferenceIds()) because I want to customize the format of the Guid and I want to add a reference id in all events (not just exception).

All events where reference id was missing is log type (not exception) events.

[2016-08-03 18:41] niemyjski commented on #110
Is there anything specific about these events where it's not being included? Do these events have a count property set? Would you mind creating a test for this? In the mean time as a work around I'd recommend using a plugin for this.

[2016-08-04 08:51] CyberSinh commented on #110
Events affected by that issue doesn't seem to be specific. I have just sent to you by mail events samples.
As a work around, I am adding reference_id in the server side if that data is missing.

[2016-08-04 11:50] otakusid opened #111 "issue with .net core self-contained applications and System.IO.IsolatedStorage"
I try to install Exceptionless in **.net core self-contained** application and receive error in process of NuGet packages restoring:

[code]

Looks like **System.IO.IsolatedStorage** have no platform binaries:

https://github.com/dotnet/corefx/issues/10002

Because of this I can't run my application in **self-contained** mode and should care about framework installed on the host. So it would be go

[2016-08-04 11:51] coxp commented on #62
We've also hit this issue after upgrading to Exceptionless 4.0. After bringing the server down multiple times we've had to remove Exceptionless completely from our web.config (just setting enable to false didn't fix the issue) and this has fixed the issue. The infinite loop issue in our case seems to be proceeded by this error in the event viewer.

[code]

[2016-08-04 12:49] niemyjski commented on #62
@coxp are you still able to reproduce the issue? If so would it be possible to create a sample or could I jump on a remote meeting with you? If you could join our slack (http://slack.exceptionless.com) that would be a huge help.

Here is the thing, it looks like after we call startup (https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Platforms/Exceptionless.Mvc/ExceptionlessModule

[2016-08-04 12:54] niemyjski commented on #111
Is there any reason for declaring a runtimes section, which is what is causing this issue no (I read the linked github issue, but may need to reread it after my coffee)?? The goal of .net core is to run cross plat and by putting that section in there you are running only on windows?

[2016-08-04 12:55] niemyjski commented on #111
What happens if you remove that section?

[2016-08-04 13:14] otakusid commented on #111
if I remove that section I can't build application in the following way:

[code]

this allow me to receive **self-contained** application that can be launched on the host without installed framework. in this case I lose flexibility and should build separate version for each platform when I plan to host my application, but in the other hand I don't depend from the host configuration

[2016-08-04 13:19] otakusid commented on #111
in other words I sacrifice flexibility of platforms that I can use for my application but win because of host configuration routine is simplified a lot

[2016-08-04 13:36] niemyjski commented on #110
What do I need to do to reproduce this? Do I just need to submit 50 events and ensure all 50 have a reference id?

[2016-08-04 13:36] niemyjski commented on #110
Any chance you could create a unit test for this?

[2016-08-04 17:56] niemyjski commented on #111
@ejsmith We'll have to do some thinking on this, I'd hate to remove functionality that exists and works just because you can't compile in one scenario (but we feel strongly it should work in all scenarios). I just don't get why you'd even get this error on windows, that's a supported runtime of isolated storage (indirectly).

[2016-08-05 07:47] otakusid commented on #111
If I understand it right - I get errors because **System.IO.IsolatedStorage** have no precompiled assemblies. So when I try to produce self-contained package for my app, with all assemblies that required to run - I catch error because CLI could not find precompiled assembly for **System.IO.IsolatedStorage** for specified platform

[2016-08-05 08:55] CyberSinh opened #112 "Confusing ExceptionlessClient.CreateException() API"
Hi,

Most developers who type these lines of code expect a NullReferenceException thrown :
[code]

But no exception is thrown because the CreateException() extension method only use the ExceptionlessClient reference as an argument for another method which can be null.

I think this behavior is confusing and I lost some time to understand why my events were not sent as expected.

[2016-08-05 09:08] CyberSinh commented on #89
Perhaps the issue come from windows targeting issue.

On Windows 8 and 10, you have to target supported windows version in the manifest to get the real version of the OS.

https://msdn.microsoft.com/fr-fr/library/windows/desktop/dn481241(v=vs.85).aspx
http://stackoverflow.com/questions/32336328/targetting-win-10-from-app-manifest-c-sharp/33355377

Hope this helps.

[2016-08-05 13:53] coxp commented on #62
No sorry, can't reproduce the issue as we're not sure what triggers it (multithreading issues are notoriously difficult to reproduce). We've removed Exceptionless for the time being as the issue causes the server to use 100% CPU and become unresponsive.

The fact it seems to fail on this line (https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Exceptionless/Configuration/Exceptionl

[2016-08-05 14:56] niemyjski commented on #112
This is the default behavior of extension methods (ability to call it on a null value). If the value is null we fall back to the default exceptionless client instance.

Do you think we should make a breaking change and throw an argument null exception here? cc @ejsmith?

[2016-08-05 14:58] niemyjski commented on #89
Should we close this issue? If you are running the .net standard version you will get the correct os version, but if you are using the full framework you will not (because we don't take out a dependency on the new api). Are you aware of any good way to do this on the full framework?

[2016-08-05 15:05] CyberSinh commented on #112
Yes, I am personally in favor.

[2016-08-05 15:25] CyberSinh commented on #89
Microsoft.VisualBasic.Devices.ComputerInfo.OSVersion gives me the correct version on Windows 10 if I target windows 10 in the manifest with the full framework.

Perhaps you could simply warn developers in the Exceptionless.Net documentation that targeting supported windows in their app.manifest is a require to get reliable OS version information.

[2016-08-05 19:04] niemyjski commented on #62
A fix for this issue has been pushed in 4.0.1891. Please update to this build to resolve this issue. Thanks for bringing this to our attention.

[2016-08-05 19:04] niemyjski commented on #62
If you have any issues or are still running into issues, please let us know.

[2016-08-05 19:06] niemyjski commented on #111
@otakusid, We're going to leave this as is for now unless others run into this same issues. The work around is very simple, just reference the .netstandard 1.3 package for the time being (remove 1.5 reference and add reference to 1.3 for the exceptionless dependency). If you need any help, please let me know.

[2016-08-05 19:07] niemyjski commented on #89
Sure, would you mind adding this to the configuration documentation? I'm going to close this as there is a work around.

[2016-08-05 19:07] #89 closed

[2016-08-05 19:07] niemyjski commented on #107
How is this working out for you?

[2016-08-05 19:24] CyberSinh commented on #89
I would like to help to improve the documentation but I am not sure my English level would be enough. My mother tongue is french.

[2016-08-05 23:39] CyberSinh opened #113 "Register ExceptionlessClient in a WPF app can create zombie process in memory"
Hi,
Register ExceptionlessClient in a WPF application seems to create zombie process if an exception is thrown early in the MainWindow constructor. So, you have to kill the process in the task manager.

If I don't register the ExceptionClient, the application crashes gracely and is correctly removed from the memory.

You will find attached a sample repro. Hope this helps.

[ExceptionlessZombieProc

[2016-08-08 13:45] niemyjski commented on #89
If you want to add it here as a comment we could reference this issue or I could rework it into the docs. What ever you feel comfortable doing 👍  (P.S., I thought you were a native english speaker, your english is quite good).

[2016-08-09 14:57] niemyjski commented on #112
This will be fixed in a nightly pre release on nuget and we will merge it into stable in a few days.

[2016-08-09 14:58] #112 closed

[2016-08-09 16:34] niemyjski commented on #113
This has been fixed in a prelease client on nuget, can you please give it a try and let me know how it works out for you. We will be pushing this out to stable once https://github.com/exceptionless/Exceptionless.Net/pull/114 is merged in.

[2016-08-09 16:34] #113 closed

[2016-08-09 16:57] niemyjski commented on #110
@srijken @ejsmith I tracked this down, this occurs as the duplicate checker plugin stores this event and marks it as cancelled and submits it later with the duplicated count.. The issue is that we never fire the OnSubmittingEvent when we do this...

[code]

What should we do here? call the event and let the user possibly cancel the deduped event?? Or should we say this is by design?

[2016-08-09 16:58] niemyjski commented on #110
hmm, we never do the date checks when submitting either...

[2016-08-09 20:43] CyberSinh commented on #113
Good job Blake. Thanks! Hope #114 will be merged soon.

[2016-08-09 20:47] niemyjski commented on #113
Can you please try the nightly builds and let me know how they go. I don't want to merge these changes until they get some additional testing in.

[2016-08-09 20:57] CyberSinh commented on #113
Everything seems to be fine on my machine with Exceptionless.Wpf 4.0.1895-pre.

[2016-08-09 21:29] srijken commented on #110
Shouldn't we call the OnSubmittingEvent *before* we do duplicate checks? That way you can cancel it before it becomes a duplicate (and add the reference id).

Just need to think about how to handle 2 identical events with differing reference ids. We don't want them to be marked as separate events, because that would make the deduplication never detect a duplicate. On the other hand, you want to pr

[2016-08-09 21:30] niemyjski commented on #110
that's outside of the plugin pipeline and you'd want to run plugins on it before calling submit event (so you get the model populated).

[2016-08-09 21:31] niemyjski commented on #110
We'll there is no reason you couldn't use a plugin for this.

[2016-08-13 02:41] ericbrunner opened #115 "Topshelf Service Exception not sent to Exceptionless UI"
Hey Blake,

I utilze Topshelf and Serilog in addition to Exceptionless. When I run the attached code from the commandline all works well and the raised exception gets reported in the Exceptionless UI. If I install it as Windows Service the raised exception gets only reported in the Serilog RollFile at C:\logs. I tested a lot but can't find a setup issue on my side that causes that strange behaviou

[2016-08-13 14:14] ericbrunner commented on #115
After putting
ExceptionlessClient.Default.ProcessQueue() before Environment.Exit(-1) it finally works in Service mode, too. But if possible that fix should be added to the Serilog.Sinks.Exceptionless

[2016-08-13 14:33] ericbrunner commented on #115
Topshelf itself registers a AppDomain.CurrentDomain.UnhandledException event handler and swallows all unhandled exceptions. My own handler didn't get called. So this is one root cause of the problem why exception don't get propagated to the Exceptionless Server on a windows service crash.

[2016-08-14 10:44] CyberSinh opened #116 "Wrong stack information on exception"
Hi,

Is it normal that Exceptionless doesn't send the overriden StackTrace in this code?

[code]

Thanks.

[2016-08-14 10:47] CyberSinh opened #117 "Exceptionless.Net cannot be built with Visual Studio 2015"
Hi,

If I try to compile Exceptionless with Visual Studio 2015, I get the following error:
`C:\GitHub\Exceptionless.Net\src\Exceptionless\Exceptionless.xproj : error  : The imported project "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.  C:\Use

[2016-08-14 21:23] CyberSinh commented on #116
Seems to be a .NET 4.x bug, more info at:
https://connect.microsoft.com/VisualStudio/feedback/details/758501/system-exception-stacktrace-and-tostring-provide-inconstent-stack-trace-data-when-stacktrace-property-is-redefined-in-derived-class

But perhaps Exceptionless could use a work around to get the overriden stack trace property before serializing exception...

[2016-08-15 11:36] Alkalinee opened #118 "Strong-name signing the libraries"
Hello,
it would be awesome if you could strong-name sign the nuget packages, I think that should be standard for projects which are that huge and is really easy done.

[2016-08-15 12:28] niemyjski commented on #118
They are strong named assemblies available, they are suffixed with `.Signed`

https://www.nuget.org/packages?q=exceptionless+signed

If you need any help, please let us know.

[2016-08-15 12:28] #118 closed

[2016-08-15 12:31] niemyjski commented on #117
I'll update the readme! You need to install the .NET Core Runtime as we use the new project system and the exceptionless project also targets the .net core runtime. Did this solve this issue?

https://www.microsoft.com/net/core

[2016-08-15 12:31] #117 closed

[2016-08-15 12:42] niemyjski commented on #115
So when an unhandled exception isn't called you are not getting any exceptions logged because they exit before our unhandled exception handler is called? That kinda stinks.

[2016-08-15 12:51] niemyjski commented on #116
@CyberSinh I don't see any work around for this. On a side note is there, any reason you'd want to do a custom stack trace? This seems like it could be a bad idea

[2016-08-15 12:53] niemyjski commented on #115
The client will automatically call process queue in the unhandled application exception event handler as well as on process exit. I think they need to preserve the events from being called and let it crash. But that's their call.

[2016-08-15 12:54] niemyjski commented on #113
I'm going to push this today I think :)

[2016-08-15 13:22] CyberSinh commented on #116
I used custom stack trace with "warning" exceptions which can be propagate by messaging system instead of throwing system.

A simple work around is:

[code]

I need to inherent from the exception base class because all Exceptionless issue events must be exceptions.

[2016-08-15 13:41] CyberSinh commented on #117
Yes, it works now. Thanks!

But installing the ".NET Core SDK for Windows" is not sufficient, we need to install the "VS 2015 Tooling Preview 2"...

[2016-08-15 14:11] niemyjski commented on #116
You could just submit a warning log event that something happened, it doesn't need to be an exception. Sending a message around with the whole exception is heavy. What is your end goal? To see where a warning occurred?

[2016-08-15 15:23] #115 closed

[2016-08-15 15:24] niemyjski commented on #115
@ericbrunner so I guess the solution is to log any exception in topshelf onexception and call process queue? Will that method only be called for unhandled exceptions?

[2016-08-15 15:24] niemyjski commented on #115
@ejsmith ^^ You might be running into this with your topshelf services.

[2016-08-15 15:30] ericbrunner commented on #115
I implemented my own solution to fix that Topshelf behaviour. But yes, all exception should go to the OnException Topshelf event. sstorie as developer should know more. My solution is to catch all exceptions in the Start and Stop method delegates of the Topshelf Host and submit it through serilog (log.error(ex,messagetemplate,data)) to exceptionless.

The Topshelf issue is that there UnhandledExce

[2016-08-15 16:52] CyberSinh commented on #116
In fact, my bug tracker issue only take into account error event type (with stack trace, etc.). Log event type is only used for telemetry (usage features, etc.). That's why I would want to wrap all issues as exception for exceptionless.

[2016-08-15 17:21] niemyjski commented on #116
Is there any work around for using the stack trace, we are just calling StackTrace on the exception instance so it should pick up anything you have overridden.

[2016-08-15 17:54] CyberSinh commented on #116
I doesn't seem the case on my machine. Have you tried with the sample code provided above?

[2016-08-15 17:54] niemyjski commented on #116
I haven't, you said there was a work around but I don't see anything on the connect issue.

[2016-08-15 17:57] CyberSinh commented on #116
No, I don't have any work around (except that throwing the exception).

[2016-08-15 18:16] niemyjski commented on #116
I'm going to close this as there appears to be an issue with computing the stack frames outside of our control. I've added a skipped test for this issue and referenced this so we can revisit in the future.

Would you mind open an issue on the core clr github issue tracker and reference this. Appears that you cannot new up a new stack trace from Environment.StackTrace (returned via overridden excep

[2016-08-15 18:16] #116 closed

[2016-08-15 18:16] niemyjski commented on #116
In the mean time a work around would be to throw the error and catch it.

[2016-08-17 13:51] niemyjski commented on #90
@haliphax are you still seeing this with the latest client package?

[2016-08-17 13:53] niemyjski commented on #86
@vindberg @srijken this has been fixed in v4 of the client.

[2016-08-17 13:53] #86 closed

[2016-08-17 14:45] niemyjski commented on #90
I was able to reproduce and this is fixed in a nightly which will be pushed shortly. This was happening because the app.config didn't have a `<configuration>` node.

[2016-08-17 14:45] #90 closed

[2016-08-17 14:46] niemyjski commented on #98
This was fixed in a branch and will be pushed shortly :).

https://github.com/exceptionless/Exceptionless.Net/pull/119

[2016-08-17 14:46] #98 closed

[2016-08-18 14:34] haliphax commented on #90
Sorry I didn't respond - been dealing with a newborn, so I haven't been regularly checking up on things. :) For the record, I had a pretty flawless install on a newer version of Windows, IIS, and .NET when we put Exceptionless into production.

[2016-08-18 14:41] niemyjski commented on #90
Thanks for the heads up and congrats on the new born! I've fixed your original issue and it's been deployed. If you have any feedback please let us know!

[2016-09-04 02:03] dotnetshadow commented on #111
@niemyjski Hi there with regards to you last comment how do you do this?

[2016-09-07 17:15] arvicxyz opened #121 "Error on referencing Exceptionless NuGet package to Xamarin projects"
I have a problem on referencing the Exceptionless package. Has anyone ever tried referencing Exceptionless to a Xamarin project? I am having errors when referencing it.

**Questions:**

1. What Exceptionless project type do I use? Is it Console and Service Applications?
2. What package do I reference? Exceptionless or Exceptionless.Portable?

**Error Message:**

``Could not install package 'System

[2016-09-07 20:00] niemyjski commented on #121
Hello,

1. You'd need to install the `Exceptionless` package (Console and Service Applications).
2. Just the latest `Exceptionless` package.

The new exceptionless package supports PCL, .NET Standard and .NET 4.5 frameworks. I believe that the there is an update to xamarin that adds support for .NET Standard.

What version of Xamarin are you using?  I'm wondering if possibly you need to manually r

[2016-09-08 15:05] arvicxyz commented on #121
Hello,

I am currently using Xamarin version 6.0.2 (build 73).

Do I directly add the Exceptionless package to the *Xamarin.iOS* and *Xamarin.Android* project or do I have to other steps just for me to be able add these packages from NuGet?

Thanks.

[2016-09-08 16:06] niemyjski commented on #121
I'm on version 6.1.0 but the way I installed it to was the portable project they generate and I changed the profile to:
<img width="483" alt="screen shot 2016-09-08 at 11 04 38 am" src="https://cloud.githubusercontent.com/assets/1020579/18356857/362f9cf0-75b4-11e6-894c-70699ebda074.png">

Then I was able to reference exceptionless. I know they added support for .net standard but I've yet to get th

[2016-09-08 18:07] arvicxyz commented on #121
Wow! That solved my problem. Thank you.

So setting the Current Profile to PCL 4.6 - Profile 151 solves the issue.

Many thanks mate.

[2016-09-08 18:19] #121 closed

[2016-09-17 00:17] vonlar opened #122 "Ability to pass iProxy"
Lack of ability to pass a proxy server to Exceptionless.

Likely the best place is to be able to add it to the configuration.

[2016-09-17 01:46] niemyjski commented on #122
This is fixed in the latest build

[2016-09-17 01:46] #122 closed

[2016-09-19 15:20] ErlendSB commented on #111
I'm also experiencing this. I'm building a netcoreapp1.0 for the debian.8-x64 runtime.
Can you please explain the workaround?
Does it involve building the package myself, or changing project.json in my solution?

[2016-09-19 16:49] ejsmith commented on #111
Are you guys trying to tell it to use offline storage (isolated storage) or is this happening just because these assemblies are referenced in the client.

I think this should be a supported scenario. I'm not sure why it's failing. It seems like some sort of bug with .net core. I like the idea of the core Exceptionless client being as lightweight as possible, but it means it will break existing use

[2016-09-19 16:50] niemyjski commented on #111
Just happens because they are referenced because it's picking the highest net standard and installing those dependencies.. So they implicitly reference windows only assemblies and that's why they are seeing this I think. Weird that it all works on my mac but it seems like some issues on Xamarin.

[2016-09-19 16:54] ejsmith commented on #111
Yeah, those assemblies should work on the win8-x64 platform, but maybe it's something specific to Xamarin.  We need to spend the time to verify the client is working on Xamarin and take whatever steps are necessary to make it work.

If that means removing isolated storage and other things out of the core client package, then I think we need to do that.

[2016-09-19 16:55] niemyjski commented on #111
I'll add this to my up-next task, which will be either later today or tomorrow.

[2016-09-19 16:56] niemyjski commented on #111
@ErlendSB @dotnetshadow Any chance you could join our slack channel: http://slack.exceptionless.com and we can talk about this more in real time?

[2016-09-20 13:18] niemyjski commented on #111
Almost think instead of pulling it out for now, we just remove it from the .net core build (https://github.com/dotnet/corefx/issues/9842) It's coming back in 2.x and will support xplat

[2016-09-20 13:19] niemyjski commented on #111
So apparently even though isolated storage is available on Windows in general, they only support a single windows runtime....

[2016-09-23 08:41] MihaMarkic commented on #107
It seems working, albeit it is a hassle installing exceptionless to xamarin (reference exceptionless package and then add manually a couple of nuget packages, i.e. System.AppDomain).
But I can certainly live with it.

[2016-09-23 19:06] niemyjski commented on #107
https://bugzilla.xamarin.com/show_bug.cgi?id=44700

[2016-09-23 21:22] niemyjski commented on #2
We are in the process of upgrading the cluster and reindexing all data. We are going to use the new snake_case formatter built into json.net 9.0.1

[2016-09-23 21:24] niemyjski commented on #60
I'm going to close this issue to help keep the issue list clean. I think this would be really nice to have and would be willing to accept a pr for this.  I think there would be an interface that gets injected and its whole purpose is showing a dialog, and then you can inject your own.

[2016-09-23 21:24] #60 closed

[2016-09-23 21:25] niemyjski commented on #77
What would we need to set this to?

[2016-09-23 21:26] niemyjski commented on #83
We need to add tests for this.

[2016-09-23 21:28] niemyjski commented on #92
I'm going to close this, if someone is interested in writing a module for this we would gladly accept a pr for this.

[2016-09-23 21:28] #92 closed

[2016-09-23 21:30] niemyjski commented on #97
https://github.com/exceptionless/Exceptionless.Net/issues/85 cc @luisvsilva

[2016-09-23 21:30] #85 closed

[2016-09-23 21:31] niemyjski commented on #97
@zgredas would you mind submitting a pr for this

[2016-09-23 21:33] niemyjski commented on #107
@MihaMarkic  Are you able to install and compile on an iOS or android project? I can install on both but can't build (one is due to a signing cert and the other I'm blocked on https://bugzilla.xamarin.com/show_bug.cgi?id=44700). I'm just curious if you are.

[2016-09-23 21:34] niemyjski commented on #111
We have a prerelease build that has some major improvements for xplat include isolated storage is currently removed until .net core 2.0 is released and we removed dependencies that were not xplat friendly (global mutexes). Can you please try this branch and let me know how it works for you.

 I'm closing, please comment on your experiences with the prerelease builds.

[2016-09-23 21:34] #111 closed

[2016-10-01 21:28] InlineAsm opened #125 "Is logging thread safe?>"
Hi guys,

I have a question about exceptionless in general. Is the logging and reporting of exceptions thread safe or should I ensure myself that exceptionless is called by one thread at a time?

I ask this because I noticed the .net dictionary locking up because exceptionless is adding a key on one thread and reading from the dictionary in another.

![image](https://cloud.githubusercontent.com/as

[2016-10-01 21:38] ejsmith commented on #125
It's definitely meant to be thread safe. If it's not then we need to fix it. Can you submit a failing test and or a fix for the issue you are seeing?

[2016-10-01 21:42] InlineAsm commented on #125
If using the ConcurrentDictionary from .net is an option for you I would be happy to fix your ObservableaDictionary with it. If so I will submit a pull request tomorrow. It's quite late now where I live.

[2016-10-01 21:44] ejsmith commented on #125
At one point we couldn't use it because it wasn't on all the platforms that we supported. Not sure where that stands now.

[2016-10-02 11:53] InlineAsm commented on #125
I tested with the ConcurrentDictionary and indeed it makes the .Net Portable build fail. The ConcurrentDictionary did not make any tests fail.

There are some libraries on the net that provide lock-less dictionaries or backport the concurrent dictionary to .Net Portable. But I don't think I should be the one that chooses one of another.

This is a deeper issue which I don't think I can solve for y

[2016-10-02 13:32] ejsmith commented on #125
Thank you for looking into this. It may be easier for us to just add our own lock in the code.

[2016-10-03 16:55] niemyjski commented on #125
@InlineAsm I just committed a fix for this which will be deployed to nuget as a prerelease package. Can you please try it out and let me know how it works for you.

@ejsmith need you to review this change as well.

[2016-10-03 16:55] #125 closed

[2016-10-03 16:58] InlineAsm commented on #125
I was just sitting down to fix it for you. You beat me to it! The deadlock occurs only once in a while but I will let you know if I encounter any problems with it. I will also take a look at the commit to see if I find problems.

Thanks for your efforts.

[2016-10-11 16:41] crowbarsolutions opened #126 "Can't install package for MVC application targeting .NET 4.0"
Trying to install the NuGet Exceptionless.Mvc and Exceptionless packages into an existing MVC 4 application targeting .NET 4.0. I get the following message:

Unfortunately updating the application to .NET 4.5 isn't an option at the moment. Is there an older version that is still compatible?

[2016-10-11 18:18] niemyjski commented on #126
Yes, you can install the v3.5 package for .NET 4.0 environments (https://www.nuget.org/packages/Exceptionless.Mvc/3.5.1738). Please let us know if you have any questions.

[2016-10-11 18:18] #126 closed

[2016-10-28 08:50] jrt324 opened #127 "Add ability to collect custom HTTP Headers"
Asp.net WebApi Project using oAuth2 , the token info put in header:
`--header 'Authorization: Bearer 7f6b258211f24470b1384cd0614923df'`

Current Exceptionless.WebAPI not record this  header info

[2016-10-28 13:48] niemyjski commented on #127
@ejsmith @jrt324  I'm wondering if we should add a collection service just for collecting headers and by default it collects nothing. We get asked this quite a bit and I can't find the other two issues where I suggested adding a plugin with a priority of 91 or higher and update the existing `RequestInfo` based on this code for getting the headers: https://github.com/exceptionless/Exceptionless.Net

[2016-10-28 23:50] NotMyself opened #128 "How to configure serverUrl when using log4net appender"
I am trying to get exceptionless to capture log4net logging. I have a local instance of exceptionless running and I am using the following configuration.

[code]

I can see log messages going to the console, but nothing is sent to the server. What am I missing?

[2016-10-29 19:32] NotMyself commented on #128
Modifying the Appender definition like so, got it working:

[code]

[2016-10-29 19:50] NotMyself commented on #128
[Here](https://github.com/NotMyself/CalculatorService/blob/exceptionless) is an example application showing the problem. If you comment out lines [12-13 in the app.config](https://github.com/NotMyself/CalculatorService/blob/exceptionless/src/CalculatorService/App.config#L12=L13), no logs get sent to exceptionless via the serverUrl defined in the default configuration.

**Note:** to get the console

[2016-10-31 12:49] niemyjski commented on #128
It says https://github.com/NotMyself/CalculatorService/blob/exceptionless no longer exists.

[2016-10-31 12:49] niemyjski commented on #128
Can you attach a small sample here?

[2016-10-31 12:51] ejsmith commented on #128
https://github.com/NotMyself/CalculatorService/

[2016-10-31 13:07] niemyjski commented on #128
I pulled down the exceptionless branch and it's not using log4net. Looking at your config section, it appears your on an older version of the client. But I think the real issue here is you are only using log4net adaptor (from what I can tell).  We won't know how to read the configuration unless you call client.StartUp() from your entry point (in the latest client). Or when you specify an api key i

[2016-10-31 13:07] #128 closed

[2016-10-31 13:17] ejsmith commented on #128
He shouldn't need to configure anything. It uses the default client instance if you don't configure it. It should just work because his Exceptionless client is configured properly.

[2016-10-31 13:18] ejsmith commented on #128
Or are you saying that the Exceptionless client isn't reading the config out because he didn't call startup?

[2016-10-31 13:18] niemyjski commented on #128
Since he only has the log4net appender, there is nothing that triggers us to read a config section.

[2016-10-31 13:20] ejsmith commented on #128
Ahh yeah. So just needs to call startup method, right?

[2016-10-31 13:20] niemyjski commented on #128
Yep, just calling startup would work. It looks like he is on an older version of ExceptionlessClient so he'd need to call Register()

[2016-10-31 13:32] ejsmith commented on #128
Do we have something in trouble shooting saying to make sure you call startup?

[2016-10-31 13:33] niemyjski commented on #128
I don't think so, it's assumed it's done by the client integration

[2016-10-31 14:34] NotMyself commented on #128
Thanks for looking into this @niemyjski & @ejsmith. From what I am reading here, the reason this does not work the way I expected it to is because I was relying on the log4net registration to bootstrap the exceptionless client. That makes sense, seems like the log4net appender should handle that.

@niemyjski you mentioned that I am using an older ExceptionlessClient. I think this was driven by the

[2016-10-31 15:58] niemyjski commented on #128
The log4net package is up-to-date as it's apart from the regular solution that gets built with all the other releases.

No, it's all good :). I'm not sure it's the appenders responsibility to call Register/Startup? Thoughts on this.. We don't know if you have any other integrations and we never touch the default instance, only fall back to it if you don't specify an api key in the appender.

[2016-10-31 16:07] niemyjski commented on #128
I'll double check this, but it all installed everything fine this morning into that solution.

[2016-10-31 18:17] niemyjski commented on #128
The latest version of log4net was installed

[2016-11-10 16:33] hmvs commented on #111
Guys do you have any dates when nuget package without isolatedstorage will be out from 'prerelease' state?

[2016-11-10 17:03] niemyjski commented on #111
I'm sorry, we got side tracked and didn't finish this up. I'll spend some time to look into the branch and try and get that merged in today or tomorrow and get a release out.

[2016-11-10 18:18] niemyjski commented on #111
Just to follow up have you been using the prerelease package? Have you ran into any issues?

[2016-11-11 08:44] hmvs commented on #111
We haven't. But we have tried to go into live with release one but encountered this problem.

[2016-11-11 12:48] hmvs commented on #111
One more thing. We are using Serilog.Sinks.ExceptionLess. So could you please update it? Without it we can't publish our project as standalone app.

[2016-11-11 14:33] niemyjski commented on #111
It should be on the current version. I'll update it here shortly. Going to do testing this morning and roll it out

[2016-11-11 14:37] hmvs commented on #111
Thank you. Hoping to go live with it on Monday.

[2016-11-11 17:06] niemyjski commented on #107
I think I've resolved these issues in the latest stable release. Can you please try it and reopen this issue if you are still having issues.

[2016-11-11 17:06] #107 closed

[2016-11-11 17:36] niemyjski commented on #111
I've shipped it and will also update the serilog sink (https://github.com/exceptionless/Exceptionless.Net/releases/tag/v4.0.2)

[2016-11-11 18:24] hmvs commented on #111
Thank you a lot.

On Fri, Nov 11, 2016, 19:36 Blake Niemyjski <notifications@github.com>
wrote:

[2016-11-21 03:04] xtianv opened #130 "Won't post on self hosted exceptionless"
Hi,

Please help.
I'm trying to use a self hosting exceptionless on my machine but it won't post any log or exception.
I already put ServerUrl and EnableSSL on my config.
I also tried to switch it to online and its working.
The only problem is when I'm self hosted.

Please check this from my IIS Express.
I'm not sure if this is supposed to be like this.

![exceptionless_iisexpress](https://cloud.g

[2016-11-21 12:22] niemyjski commented on #130
That's showing off web sockets connecting to the server.  I'm guessing this issue is not with your client but your self hosted server. Are you seeing any events on your self hosted dashboards? Have you tried looking at our troubleshooting tips: https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#troubleshooting

I'm betting your elastic search instance isn't configured properly (needs

[2016-11-21 12:22] #130 closed

[2017-01-12 15:26] hmvs opened #133 "Add Serilog.SelfLog logging in case of exceptionless internal errors"
As we have Serilog exceptionless sink we should follow Serilog rules.
So if we have exception in exceptionless sink we should write to SelfLog, to be able to diagnose the problem in exceptionless.

https://github.com/serilog/serilog/wiki/Debugging-and-Diagnostics
https://improveandrepeat.com/2014/09/debugging-serilog/

[2017-01-12 15:27] niemyjski commented on #133
Thanks for logging this, is there any chance you'd be willing to submit a pr for this>

[2017-01-12 15:40] hmvs commented on #133
I can try, later this or next week.
Could you please throw some examples? You have told me that you have some logging for nlog.

[2017-01-12 20:23] niemyjski commented on #133
Just need to implement an `IExceptionlessLog` logger like this: https://github.com/exceptionless/Exceptionless.Net/blob/f0494c8015fe8ba76cdb11b9b017c6c1d68f8749/src/Platforms/Exceptionless.NLog/NLogExceptionlessLog.cs

And then you'd just new up a new instance and pass it into the following method: https://github.com/exceptionless/Exceptionless.Net/blob/b43858182f8912fc2de87b3681919049e121af14/src

[2017-01-26 17:55] billhenn opened #134 "Nuget won't add Exceptionless v4 to Universal Windows app projects"
If you make a new UWP app project and try to add Exceptionless v4 to it with Nuget, the add fails, meaning UWP apps can't use Exceptionless.  It seems to have to do with some .NET standard issue.

[2017-01-26 17:57] niemyjski commented on #134
so automapper fixed it by doing this https://github.com/AutoMapper/AutoMapper/commit/f3e345d958bb999a54c53e73660b51bf6e8c69ee which we are already doing. nuget is being stupid and not even looking at our .netstandard 1.2 package but our highest version.

 I think the short term work around is to manually reference the .netStandard 1.2 assemblies in our nuget package

[2017-01-27 17:46] BillHenning commented on #134
FYI, I tested this again just now with the latest VS 2017 RC3 update and same problem.

[2017-01-27 17:50] niemyjski commented on #134
I think we need to make some changes to our package

[2017-01-30 09:11] hmvs commented on #133
Can be closed

[2017-01-30 13:31] #133 closed

[2017-01-30 13:33] niemyjski commented on #77
We need to finish adding support for the other clients before we merge this into master

[2017-02-01 14:42] niemyjski opened #135 "Add Web Api extensions to easily add the HttpActionContext"
Currently to get request into you need to also specify `.SetProperty("HttpActionContext", ActionContext)` when manually submitting an event.

[2017-02-01 14:42] niemyjski commented on #135
We should also add this to the readme.

[2017-02-14 15:57] niemyjski commented on #84
We already support this

[2017-02-14 15:57] #84 closed

[2017-02-14 15:59] niemyjski opened #136 "Look into issue with App Insights and exceptionless being installed side by side"
[code]

[2017-02-14 16:01] niemyjski opened #137 "Look into issue where Exceptionless.Mvc.Signed upgrade issue"
Exceptionless.Mvc.Signed was upgraded from a previous version and didn't have the signed assembly name.

<add name="ExceptionlessModule" type="Exceptionless.Mvc.ExceptionlessModule, Exceptionless.Mvc.Signed, Version=4.0.1933.0, Culture=neutral, PublicKeyToken=fc181f0a46f65747" />

[2017-02-14 16:02] niemyjski commented on #77
We need to ensure we are removing the port from the IP address. I came across a use case where the port was submitted.

[2017-02-14 16:04] niemyjski opened #138 "Look into adding a default exclude for asp.net form fields"
Currently we ignore all fields prefixed with *__ hard coded and there is no way to allow this or other server variables. We should look into just making these defaults in exclusions that you can remove or set.

We've had requests for specific http headers as well as `__EVENTTARGET` and `__EVENTARGUMENT`. But there is no way to add these without a custom  plugin :\

[2017-02-14 16:05] niemyjski commented on #138
@ejsmith I think this should just be a wildcard in event exclusions, thoughts?

[2017-02-14 16:07] ejsmith commented on #138
Yeah, we should make it a default config setting that can be overridden. The problem is that there are some ASP.NET events that can be MASSIVE.

[2017-02-14 16:08] ejsmith commented on #77
Make sure that we don't lose any information though. So we shouldn't just be throwing the port away.

[2017-02-14 16:12] niemyjski commented on #77
We have to parse it correctly server side for geo ip lookup then, it's currently failing

[2017-02-14 16:12] niemyjski commented on #138
What do you think for a name? We already have data exclusions

[2017-02-14 16:13] ejsmith commented on #138
Why wouldn't it be part of data exclusions?

[2017-02-14 16:15] niemyjski commented on #138
Yeah, but how do you update existing data exclusions that might of been updated?

[2017-02-14 16:47] vonlar commented on #136
I doubt this will be reproducible since it was during a NuGet package upgrade of the App Insight packages.  What eventually fixed the issue was right clicking on the project and reconfiguring App Insights since the configuration process has been completely changed.  Note that I attempted to remove App Insights before reconfiguring it.

[2017-02-14 16:48] niemyjski commented on #136
We still shouldn't blow up :)

[2017-02-14 16:50] vonlar commented on #136
Probably not, but it's likely an App Insights issue that you'll have to help your users through support rather than fixing through code.  But good luck on trying to track down the actual problem and fix!

[2017-02-15 02:44] niemyjski commented on #135
This was added and is an EventBuilder extension method of the `SetHttpActionContext`

[2017-02-15 02:44] #135 closed

[2017-02-15 02:45] niemyjski opened #139 "Ensure we can submit a log message with an exception object attached"
You should be able to submit a log message through with an exception object. We need to verify this works.

[2017-02-15 03:25] niemyjski commented on #138
Our request info doesn't collect headers currently either. and if we add this to data exclusions it would have to be server side only which means junk coming in off the bat.

[2017-02-15 03:25] niemyjski commented on #138
All of the DataExclusions is additive by default.

[2017-02-15 04:29] niemyjski commented on #138
We need to think of something better for this as we probably should do a pass where we can configure local default exclusions that are merged much like the initial default log level...

[2017-02-15 04:30] niemyjski commented on #138
I guess I could populate the data exclusions with these values by default and server side would overwrite them...

[2017-02-15 04:30] niemyjski commented on #138
Is that intuitive

[2017-02-15 04:31] #136 closed

[2017-02-15 04:31] #137 closed

[2017-02-15 04:31] #139 closed

[2017-02-15 04:35] niemyjski commented on #138
This references https://github.com/exceptionless/Exceptionless.Net/issues/127 as well

[2017-03-04 15:12] tBStar opened #140 "Exceptionless client not being fired from a Unit Test"
Hi,

Using the self-hosted solution, I spent considerable amount of time trying to figure out why exceptions are not being logged from my unit tests. I have tried the following configurations but none of them worked:
- ExceptionlessClient.Default.Startup("kVCawYxPJXHSYz744sRsJHSDUron4zmB0ycPobEC");
- ExceptionlessClient.Default.Configuration.ReadFromConfigSection();
- [assembly: Exceptionless("kVC

[2017-03-04 19:59] tBStar commented on #140
Man, you really should put out a statement in the wiki about writing events within unit tests because the fact that, events are not sent in real time for performance purposes, threw me off. When I called ExceptionlessClient.Default.ProcessQueue() at the end of my test method and it worked. Gee!

[2017-03-04 19:59] #140 closed

[2017-03-04 21:19] tBStar opened #141 "Verify email in self-hosting"
Hi,

I using the self-hosted solution. After I received the verification email and click the link, I get a 404 error, the link url is : http://localhost:50000/account/verify?token=XUpNHidzpfA1Ct5DT9EIzbEcHySmHoSDa6yzf0G1
What am I doing wrong?

[2017-03-07 00:21] niemyjski commented on #141
Are you using clean urls as per the self hosting documentation? What is your base_url application setting set to in the web.config?

[2017-03-07 00:25] niemyjski commented on #140
We talk about this a bit here: https://github.com/exceptionless/Exceptionless.Net/wiki/Troubleshooting#ensure-the-queue-has-time-to-process If you have any tips on the verbiage on this please let me know.

[2017-03-07 15:42] tBStar commented on #141
It was the missing # !!, now I am able to invite users but still getting the email not verified thing.

[2017-03-07 15:44] tBStar commented on #140
I am talking front and center on the homepage! just kidding. I think it's ok where it belongs, I overlooked the troubleshooting section.
-Fahd

[2017-03-11 13:25] yunzhizhou opened #142 "the project created by visual studio 2017 can not submit exception"
when I create a project by the visual studio 2017, if  the project is .net core web (.net core), it can work; but if the project is .net core web(.net framework), it can't submit exception.

1.  normal

[code]

2.  can't work

[code]

[2017-03-11 15:54] niemyjski commented on #142
Thanks I'll try this out, have you tried enabling troubleshooting/logging as per the wiki article?

[2017-03-12 00:38] himyspace commented on #142
Thanks.
yes, I tried it. because my solution is upgraded from 2015 to 2017, in 2015 project, It is ok. so, I create  a new project by visual sutdio 2017, finally, I found out when I switch to .net framework core, It can't work.

[2017-03-12 02:54] himyspace commented on #142
the package name is Exceptionless.AspNetCore
[code]

[2017-03-13 19:38] niemyjski commented on #142
Do you see this issue if you target dotnet 4.52? I upgraded my dotnet framework and I'm not seeing any errors but I'm also not seeing any events. I'll need to dig into this more and get back to you.

[2017-03-14 04:09] himyspace commented on #142
Thanks. yes , my project is based on dotnet 4.52, I once upgrade to 4.6.2, but the same result is not seeing an errors, but also not seeing any events submited.

[2017-03-14 15:51] niemyjski commented on #142
I'm currently blocked on this but am working on it. It might take me a day or two to get to the bottom of this, in order to debug this with the new rtm runtime and vs2017 I need to upgrade our project to the new csproject format which I had started over the weekend.

[2017-03-14 15:51] niemyjski commented on #141
@tBStar is there any chance we can meet up and I can take a look into this with you?

[2017-03-15 07:27] muhammetsahin commented on #142
@niemyjski When do you plan to finish upgrade VS2017 ?

[2017-03-15 12:09] niemyjski commented on #142
I hope to start today, I just need to finish up one or two small issues today on exceptionless server that I've been working on for a few days and move to this, and get this resolved asap.

[2017-03-15 13:40] niemyjski commented on #141
We've released 4.0.1 which should really help with these issues. Can you try upgrading and see if this helps.

[2017-03-16 13:50] jordanwallwork commented on #142
I'm having this same issue. I went through the troubleshooting quickly - the IsolatedStorage directory isn't being created, and I tried enabling logging but that doesn't appear to work either

[2017-03-16 14:26] niemyjski commented on #142
Thanks for the heads up, I'm finishing up testing this one bug and will be moving back to this for sure today. I'll keep you  updated.

[2017-03-16 22:04] niemyjski commented on #142
I've started working on this uphill battle, I might have some news on this tomorrow.

[2017-03-19 10:12] MihaMarkic opened #143 "Enable client logging through app.json"
Hi guys,

Seems like there is no support for enabling client logging in asp.net core app through app.json.
I can add it...

[2017-03-19 10:34] MihaMarkic opened #144 "Heads up to (aspnet) core error tracking"
Found out that exceptionless in my aspnet core (.net target) doesn't work at all.
After enabling error logging I saw this message:

I think this is the same error as discussed in this (long) [thread](https://github.com/dotnet/corefx/issues/11100).

Now, for me it started working when I manually referenced System.Net.Http 4.3.**1** nuget package (which in turn updated the implicitly referenced 4.3.

[2017-03-19 10:40] MihaMarkic commented on #144
One way to solve it could be that System.Net.Http 4.3.1 is referenced by the library?

[2017-03-20 21:10] niemyjski commented on #143
Yes, if you could, that would be greatly appreciate! If we could align the flow like our existing logging attributes that would be awesome.

[2017-03-20 21:11] niemyjski commented on #143
We do have a branch for the new stuff (/csproj) which is a WIP there are blocking `dotnet pack` issues that need to get worked out)

[2017-03-20 21:20] niemyjski commented on #144
Are you running on the full framework? Thanks for reporting this, this is a duplicate of (#142) which I'm actively looking into. So did you update system.net.http In your app?

[2017-03-20 21:20] #144 closed

[2017-03-20 21:22] MihaMarkic commented on #144
yes and yes

[2017-03-20 21:24] niemyjski commented on #142
I believe this issue is caused by the following error:

"Inheritance security rules violated by type: 'System.Net.Http.WebRequestHandler'. Derived types must either match the security accessibility of the base type or be less accessible."

which links to this issue https://github.com/dotnet/corefx/issues/11100.

As @MihaMarkic points out the fix is to install System.Net.Http v4.3.1 in your app and

[2017-03-20 21:25] niemyjski commented on #142
@himyspace @jordanwallwork Can you please try installing System.Net.Http v4.3.1 (latest) off of nuget and see if this resolves the issue.

[2017-03-20 21:25] niemyjski commented on #142
I guess one of the things we could do would be to put System.Net.Http as a dependency of the asp.net core client.

[2017-03-20 21:27] niemyjski commented on #141
@tBStar did upgrading to 4.0.1 resolve this issue? Can you please let me know if it didn't help by commenting on this issue and we'll reopen it.

[2017-03-20 21:27] #141 closed

[2017-03-20 22:32] niemyjski commented on #142
I have committed a fix for this issue but unfortately I can push the nightly builds out after upgrading to csproj format as there are a few blockers with dotnet pack where half the packages aren't getting read mes :\ The fix for this issue is to install

[code]

Into your app and it will work. You can also grab our nightlies off of my get (but there won't be a readme until it's fixed) https://www.

[2017-03-21 08:43] himyspace commented on #142
Thanks. yes, It's ok now, when I  install System.Net.Http v4.3.1 (latest) off of nuget ,It can submit events.

[2017-03-21 19:29] niemyjski commented on #142
Thanks for the update! I'll have to wait until they fix nuget pack or give me a work around before I can deploy updated packages

[2017-03-21 19:59] niemyjski commented on #134
Looks like there are still issues with VS2017 RTM

[2017-03-21 20:12] BillHenning commented on #134
Get trolling @Niemyjski!

[2017-03-23 09:02] jordanwallwork commented on #142
Sorry for the slow response, I can confirm that that fixed the issue for me too. Cheers

[2017-04-11 18:52] #142 closed

[2017-04-11 18:54] niemyjski commented on #143
@MihaMarkic master has all the latest csproj changes as well as asp.net core changes

[2017-04-11 18:54] niemyjski commented on #142
A new package should be pushed out very very soon.

[2017-04-12 07:50] EtiennePeeters commented on #142
We're having the same issue. Adding System.Net.Http v4.3.1 also fixed this for us.
Eagerly awaiting the new package 👍

[2017-04-12 12:39] niemyjski commented on #142
The new package is out, did that solve it for you?

[2017-04-12 12:40] EtiennePeeters commented on #142
Yes, the problem is solved 👍

[2017-04-12 13:04] MihaMarkic opened #147 "00:41 Info DuplicateCheckerPlugin - Event submission cancelled by plugin: refid= type= message=MYMESSAGE"
Who is this DuplicateCheckerPlugin guy and what does it want from me?

This is from UseInMemoryLogger and Exceptionless indeed doesn't send anything.

[2017-04-12 13:07] MihaMarkic commented on #147
Also note that my app is stuck with this error. Restart doesn't help. It also doesn't help that this error is silent (normally you wouldn't notice it unless logging is activated).

[2017-04-12 13:43] niemyjski commented on #147
@MihaMarkic We have a plugin (DuplicateCheckerPlugin) that sits in the pipeline and removes duplicate events. So for example event1 comes through we keep a hash of the entire event and mark it as sent. Lets say event2 comes in which is exactly the same as event 1, we cancel it and store it in a cache for 60 seconds. Then for the next 60 seconds any event that is exactly the same in every way is ca

[2017-04-12 13:44] niemyjski commented on #147
So if you wait enough (60 seconds) you should see exact counts in the ui for that error.

[2017-04-12 13:45] niemyjski commented on #147
Are you running into an error where you believe it's discarding non unique events? Are you seeing the rolled up events in the ui?

[2017-04-12 13:49] MihaMarkic commented on #147
There is definitely something odd going on. Trying to pinpoint but it is like this:
Sometimes it won't send anything out, log would be empty (except for a single duplication warning). I produce like 20-30 logs in few seconds from more than one thread.
ExceptionlessClient.Default.SubmitLog is thread safe, right?

[2017-04-12 13:51] MihaMarkic commented on #147
It is a .net 4.6.1 console application.

[2017-04-12 13:51] MihaMarkic commented on #147
Also note that I issue ExceptionlessClient.Default.ProcessQueue(); before the end of the application.

[2017-04-12 14:46] niemyjski commented on #147
Yes, it should be thread safe. If you want, I would be more than happy to go on a remote meeting and take a look at this with you.

[2017-04-13 09:05] MihaMarkic commented on #147
@niemyjski I think I know what's going on.

TL;DR; ProcessQueue() doesn't flushes always.

Rationale (I went looking into source code).
ProcessQueue would exit immediately when DefaultEventQueue.Process is running (it sets _processingQueue=true).
So, what's happening to me is that internal Timer fires DefaultEventQueue.Process and during this same time my application ends and I call ExceptionlessC

[2017-04-13 09:11] MihaMarkic commented on #147
Thinking, perhaps an easy solution would be to convert _processingQueue from bool to an ManualResetEvent or something.
Also _processingQueue doesn't feel like very thread safe since it isn't using any synchronization at all.

[2017-04-13 16:35] niemyjski commented on #147
Thanks for the pr, greatly appreciate it. The nightlies are available on myget. I'm going to do some testing but also need to make some csproj changes before the next release. If you find any issues please let us know.

[2017-04-13 16:35] #147 closed

[2017-04-13 18:49] niemyjski opened #149 "Deprecate unsigned packages and make all packages signed"
This is what the .net team and others are doing, we should do this and cleanup our code base greatly :)

[2017-04-13 18:51] niemyjski commented on #149
Part of this cleanup should involve: https://github.com/exceptionless/Exceptionless.Net/commit/cba3bb12f01a88b32c756409ee8152f8feee9bc6

[2017-04-14 09:32] ZhiqiangTao opened #150 "Can't "Using Exceptionless" namespace!"
Steps:
1. Open vs2017.
2. create a asp.net core 1.0 mvc project.
3. PM>Install-Package Exceptionless.AspNetCore
4.  local the Startup.cs class and try to "Using Exceptionless;"

results:
1. no "Exceptionless" pop up. just like the dll never be installed!

Info:
1.PM's logs as below:
PM> Install-Package Exceptionless.AspNetCore
正在还原 c:\users\a08-03\documents\visual studio 2017\Projects\WebApplicati

[2017-04-14 09:54] ZhiqiangTao commented on #150
investigation:
the vs2015 is ok!!!........

[2017-04-14 10:51] #150 closed

[2017-04-14 13:58] niemyjski commented on #150
Did you find the culprit? What was the issue?

[2017-04-16 02:42] ZhiqiangTao opened #151 "Can not "using Exceptionless"?"
1.I use vs2017 to create a aspnet core mvc project(target framework4.6.1+asp.net core 1.0 template)
2.I search the "Exceptionless.AspNetCore" with the version of '4.0.1933' in the nuget, and add it to my project.
3.In the startup.cs, I want to add "using Exceptionless" namespace, but I failed. no intellisense pop up, just like no exceptionless.dll added.

Strangely!!!
I use vs2017 to create a aspn

[2017-04-16 14:14] niemyjski commented on #151
I'll take a look

[2017-04-16 14:15] niemyjski commented on #151
We recently updated to target 1.1, what's displayed in the nuget output window when you try installing the package?

[2017-04-17 00:55] ZhiqiangTao commented on #151
below is output window's message:
正在还原 c:\users\a08-03\documents\visual studio 2017\Projects\exceptionlessDemos\WebApplication1\WebApplication1.csproj 的包...
正在安装 NuGet 程序包 Exceptionless.AspNetCore 4.0.1933。
正在提交还原...
Writing lock file to disk. Path: c:\users\a08-03\documents\visual studio 2017\Projects\exceptionlessDemos\WebApplication1\obj\project.assets.json
c:\users\a08-03\documents\visual stud

[2017-04-17 00:57] ZhiqiangTao commented on #151
ps: I'm from Chinese, the language package of the VS2017 is zh-cn. Maybe the bing translator is needed...

[2017-04-17 01:19] ZhiqiangTao commented on #151
Now, I have updated all my projects from 1.0 to 1.1 to walk around this issue. But I just want to know the reason for this issue.

[2017-04-17 14:39] niemyjski commented on #151
I'll take a look and let you know as soon as I have more info.

[2017-04-17 14:54] niemyjski commented on #151
If you can create a new sample application that is broken and send it to me that would be greatly appreciated. I can then further look into this issue. Currently, I'm unable to reproduce.
![screen shot 2017-04-17 at 9 52 04 am](https://cloud.githubusercontent.com/assets/1020579/25092553/c9f00bd0-2353-11e7-92bf-f87b5b208bcc.png)
I just followed your exact steps using 4.0.1933 as well as the newest

[2017-04-18 01:46] ZhiqiangTao commented on #151
@niemyjski I sent an email with the attachment to "'blake.niemyjski@exceptionless.mail.intercom.io'", you can take a look. ths.

[2017-04-18 15:55] niemyjski commented on #151
Are you running the latest VS2017 update? I'm not sure what could be different but it works flawlessly on my two virtual machines.

See the video below (click to view)
[![Alt text](https://content.screencast.com/users/bniemyjski/folders/Camtasia/media/a1d55a12-8b01-45cb-b580-27237b4e039d/FirstFrame.jpg)](https://www.screencast.com/t/V79ucBrO)

[2017-04-18 15:57] niemyjski commented on #151
Are you accepting the terms of the nuget packages in the dialog that pops up? As shown in my video? I'm wondering if that could be causing it?

[2017-04-20 17:40] niemyjski opened #152 "Improved ServiceStack support"
Out of the box it's kind of a pain to integrate with service stack (http://stackoverflow.com/questions/43526051/third-party-exception-handling-hooks-for-servicestack-asp-net-core). We should have a section talking about it or even a nuget package that makes it easier...

[code]

And we could do a custom logger:

[code]

[2017-04-20 18:05] EricZimmerman commented on #152
i think this:

// TODO: figure out how to get the http context here for extra metadata.

can be had from interacting with 'base.'

[2017-04-20 18:47] niemyjski commented on #152
@EricZimmerman is there any chance you could look into this? We might need to shred the request info like we do our other plugins and add a service stack plugin for getting user and request info.

[2017-04-25 07:21] ZhiqiangTao commented on #151
I'm sorry to answer you so late. it's the same with your pops up.
I have update my project from core 1.0 to 1.1 and resolve this problem. Close this issue

[2017-04-25 07:21] #151 closed

[2017-04-25 07:36] ZhiqiangTao opened #153 "Cann't see the exception in the All Events dashboard [Real-time]!"
I met an issue as below:
1. I use the code "ex.ToExceptionless().Submit()" to add an exception.
2. then I refer to the All Events dashboard, but  nothing shows.
3. after much time, the exception I added before can show in the dashboard.
4. after that, I did the step 1 with different exception many times, but I can't see them anymore!

what's wrong with it? does the real-time problem?

I investigat

[2017-04-25 08:01] #153 closed

[2017-04-25 12:56] niemyjski commented on #153
Were you able to resolve what was occurring? My guess is if your account was throttled, you wouldn't see anything coming in and the client would turn itself off for about 5 minutes.

[2017-04-26 01:00] ZhiqiangTao commented on #153
aha, this is my code fault, I create a  client instance with ctor, not use the XXX.Default.XXX(the best official ways).
I saw the source code as below:
#region Default
        private static readonly Lazy<ExceptionlessClient> _defaultClient = new Lazy<ExceptionlessClient>(() => new ExceptionlessClient());

        public static ExceptionlessClient Default {
            get { return _defaultClient.

[2017-05-22 10:24] ZhiqiangTao opened #154 "slowly insert after high frequency rate Client request!"
I met a problem as below:

1.I have 100 jobs to do something and use the ExceptionlessClient.Default to insert my business logs.
2. but i found that the logs(about 500/**1 sec**) produced by the jobs were slowly inserted, the count rate in the dashboard was about 350~450/ **5 sec**
3. When I stop my jobs(no log insert), I found that the count in the dashboard was still growing（just like a backgrou

[2017-05-22 13:16] ZhiqiangTao commented on #154
thanks for your replay in advanced

[2017-05-22 14:59] niemyjski commented on #154
The client submits events on a background timer every 10 seconds, you could change this setting but its going to add overhead to your app and less likely to submit results in batch. Are you using the in memory storage on the client (default)?

The items server side will be queued when received (every 10 seconds) and processed as quickly as possible). Are you using dedicated jobs? You can run multi

[2017-05-22 22:19] ZhiqiangTao commented on #154
thanks you firstly.
But I still have some problems for your reply.
1.I don't code "Client.Configuration.UseInMemoryStorage();" in my project, is it means that I don't use memory storage? If yes, what's the benefits of this feather? is the Out of Memory exception will pop up while many logs are produced by my service if I enable this feature?

2. " Are you using **dedicated jobs**? You can run mult

[2017-05-22 22:20] ZhiqiangTao commented on #154
Forgive me for having so many questions. aha

[2017-05-23 01:04] ZhiqiangTao commented on #154
Maybe I get the key:
https://exceptionless.com/sending-log-messages-to-exceptionless/

[2017-05-23 14:54] niemyjski opened #155 "Ensure in memory queues respect max items"
We should ensure in all scenarios we don't run out of memory. I'm not sure the current usage but the queues should be cleared every 10 seconds.

[2017-05-23 14:58] niemyjski commented on #154
1. If you don't have that, that means you are using in memory storage (default) and it's what we recommend for high throughput scenarios. We should be clearing the queue frequently and that shouldn't be an issue. I'm going to open an issue to ensure we put a cap on in memory queued items. (https://github.com/exceptionless/Exceptionless.Net/issues/155)
2. Yes, that is what I was referring to, runni

[2017-06-01 20:15] dotnetchris commented on #142
So this issue seemed to just catch a colleague of mine. It's a VS2015 project using the xproj file type. Using AspNetCore (not 2.0) with Framework 4.6.1.

[code]

It didn't seem to notice anything about needing System.Net.Http": "4.3.2/1.

I had to explicitly install this package.

Honestly for an exception so critical that logging can't occur, it'd be nice if it crashed the entire application. If

[2017-06-01 20:20] niemyjski commented on #142
That package has a dependency on system.net 4.3.1 (https://www.nuget.org/packages/Exceptionless.AspNetCore/) so it shouldn't be an issue. Was the HttpClient v4.3.1 installed?

When .Submit() is called we enqueue it for background processing which happens every 10 seconds. If we randomly failed 10 seconds later after calling submit, it would be a big What the heck moment. Our goal is to never slow

[2017-06-01 21:58] dotnetchris commented on #142
@niemyjski no that is not installed and was not installed

When it comes logging/error handling tools they should scorch the earth if they can't write. I can understand why it "feels good" to prevent hurting, but that's literally poison. If my logging/error infrastructure isn't working, I'd only choose no application over an indeterminate application.

Now that assumes it's truly dead as opposed t

[2017-06-02 12:24] niemyjski commented on #142
Nuget should have forced that assembly to be installed :\. I think that it's more than feels good there is two use cases going on here, one that this is supplemental logging and the other this is critical app component.  Exceptionless is integrated into commercial applications of fortune 500 companies as well as thousands of small companies which includes medical companies as well. It wouldn't be

[2017-06-02 13:31] dotnetchris commented on #142
@niemyjski I get what you're saying but i disagree, and i feel this directly supports my point. If any medical devices were operating on me and their logging infrastructure wasn't working, I absolutely don't want the device used on me. I would really hope it would halt instantly and entirely. Without those logs, if something goes wrong, they likely have no idea aside from perhaps watching videos i

[2017-06-05 14:07] niemyjski commented on #142
@dotnetchris I talked with the team this morning and early on we made the decision as an error reporting service that we will never blow up your app and we stand by that. We'd rather have customers reach out to us (even if its after 5 minutes of trying) and do a 1-1 remote session to take a look into what's going on rather than to blow it up. We don't want it blowing up and taking down your app in

[2017-06-05 17:40] dotnetchris commented on #142
@niemyjski can you atleast make it attempt to write windows event log error messages if it fails?

[2017-06-07 16:35] niemyjski commented on #142
What errors do you think should be written there? Just submission related? It seems like it would be a very rare case that the http client would be messed up. We already have a diagnostic logging to disk and it's easy to enable this. This is an area for consideration but it would be tied to only the full framework. Even then what is the perf hit to write an event log?

[2017-06-08 16:00] dotnetchris commented on #142
@niemyjski the worst thing possible is a logger silently failing, you can certainly throttle writing the logs. honestly even a single message per hour would be enough that a person could atleast trace that something is blocking exceptionless for working.

The big problem with the logging behavior of exceptionless is that it would require an application reset which means you would lose all informat

[2017-06-09 14:18] niemyjski commented on #142
@dotnetchris the chance of the logger failing is very small, and it would for a very large percentage of the time be on application startup and we could and want to do anomaly detection and let you know we are not getting events or seeing less from a specific machine / stack. I get that it really sucks off the bat but the chances of it stopping during application run, well I've never seen that hap

[2017-06-09 14:57] dotnetchris commented on #142
At this point I'm starting to get upset. I am a customer or potential customer depending how you views accounts.

Our initial experience was we installed your product, expected it to work, it did not work. We received no information on why it didn't work. I had to debug your product to figure out why it didn't work.

How many customers do you think you've lost because they didn't bother to investi

[2017-06-09 17:11] niemyjski commented on #142
@dotnetchris I'm really sorry we let you down. Is this working now that you installed that package? My understanding is you ran into an issue (which completely sucks and shouldn't happen), debugged it (wasn't very intuitive as we could do more to link to troubleshooting guide or link to support via the readme as well as configuration page). Found this issue and installed that package and you are u

[2017-06-26 15:57] jamierushton commented on #47
What ever came of this?  Can/should the ticket be closed?

[2017-06-26 17:05] niemyjski commented on #47
@jamierushton We upgraded the serializer just recently to the latest version but haven't made this change, we needed to update quite a few tests. Would you be willing to submit a pr for this?

[2017-06-30 11:29] jamierushton commented on #47
I've cloned the repo, but I've never submitted anything to OS before.  So I'm finding out what I need to do.

[2017-06-30 12:40] niemyjski commented on #47
You should just have to fork the repo and then clone the fork. Then run the serialization unit tests in the tests project. Then just tweak the serialization settings and run/fix the tests that are expecting it to be removed and commit them, once committed you can just click the create pull request button in GitHub :)

[2017-07-07 02:05] niemyjski commented on #121
We've added .net standard support. I'm wondering if this story has gotten any better. Please let us know how it's working out.

[2017-07-28 01:12] majian159 opened #158 ".netstand2.0 System.AppDomain collision"
Error: CS0433
The type 'AppDomain' exists in both 'System.AppDomain, Version=2.0.11.0, Culture=neutral, PublicKeyToken=a741d64a8a4710e8' and 'System.Runtime.Extensions, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

[2017-07-28 01:15] niemyjski commented on #158
We have a polyfill that needs to be removed for 2.0. Would you mind submitting a pr with a new framework target for 2.0 and remove the dependency (https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Exceptionless/Exceptionless.csproj#L52)

[2017-07-28 01:31] majian159 commented on #158
This will bring other changes,I'm afraid to produce dirty code.
`            if (provider is ParameterInfo)
            {
                ParameterInfo p = (ParameterInfo)provider;
#if NETSTANDARD1_0 || NETSTANDARD1_1 || NETSTANDARD1_2 || NETSTANDARD1_3 || NETSTANDARD1_4 || NETSTANDARD1_5 && !NETSTANDARD2_0
                return ((attributeType != null) ? p.GetCustomAttributes(attributeType, inhe

[2017-07-29 16:22] CyberSinh opened #160 "Missing '@version' information in data returned by Exceptionless"
The data returned by Exceptionless is sometimes inconsistent.
In most cases, I have the information of the version of my software in the data:

`data ": {" @version ":" 5.7.2.5 "}`

but more and more often this information is not not present.

Did I miss something? Is there anything I can do to make the return of my software version systematic?

Thank you.

[2017-07-31 13:26] niemyjski commented on #160
We try and detect it automatically by the assembly's version attributes (https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Exceptionless/Plugins/Default/080_VersionPlugin.cs). It's best to explicitly set it in your app if you know the version. Are you finding that if you set it, it's not round tripped? If you can give me an exact use case I can look into it and get it resolved.

[2017-07-31 13:28] niemyjski commented on #158
Yeah, I'm thinking maybe it might be best to rethink all those net standard attributes in the near future. It's find to produce some dirty code (for now), unless you have any ideas on how to clean that up. Maybe we could do NETSTANDARD && !NETSTANDARD2_0 (so we could replace all the if's with NETSTANDARD for the ones where it's all ors and just negate the ones that are not supported?

[2017-07-31 18:41] CyberSinh commented on #160
Hi Blake,

I will try to hard code the version information as:

`config.DefaultData[Event.KnownDataKeys.Version] = Assembly.GetExecutingAssembly().GetName().Version.ToString();`

I'll keep you informed.
Thanks.

[2017-07-31 18:41] #160 closed

[2017-07-31 19:55] niemyjski commented on #160
There is a helper on config to set the version: https://github.com/exceptionless/Exceptionless.Net/blob/27129f34229937dea727c0332d848be9cd626e98/test/Exceptionless.Tests/Configuration/ConfigurationTests.cs#L40

[2017-07-31 21:14] CyberSinh commented on #160
Yes, it's more elegant with this helper. Thanks!

[2017-08-13 00:57] edwardmeng commented on #154
I think it's fixed in pr #161 due to performance issue, that we have encountered this problem too days ago.

[2017-08-13 14:21] niemyjski commented on #154
I'll get a new client release out.

[2017-08-13 14:22] #154 closed

[2017-08-13 14:22] niemyjski commented on #158
Is the pr ready to be merged in? Is there anything I can do to help?

[2017-09-06 18:23] moogle001 commented on #104
May I volunteer this implementation?

ExceptionlessLogger.cs:
[code]

ExceptionlessLoggingScope.cs:
[code]

ExceptionlessLoggerProvider.cs:
[code]

ExceptionlessLoggerExtensions.cs:
[code]

[2017-09-06 18:42] niemyjski commented on #104
@moogle001 Awesome! Is there any chance you'd be willing to create a pr for this and add a Exceptionless.Microsoft.Logging package (Does that sound like a good name that matches the other Microsoft logging implementations ?)

[2017-09-06 18:59] moogle001 commented on #104
Based what I've seen from other packages, the name should be Exceptionless.Extensions.Logging. I'll try to put together a pull request.

[2017-09-07 17:50] moogle001 commented on #104
I've submitted a pull request: https://github.com/exceptionless/Exceptionless.Net/pull/162. Let me know if there's more you need from me. Looking forward to seeing the package in Nuget. ;)

[2017-09-11 12:41] niemyjski commented on #104
Thanks for the PR!  Is there any chance you can update the asp.net core or console sample app as well in this pr so we can also see the usages of how we'd plug it in.

[2017-09-12 12:01] niemyjski commented on #143
Is there any chance you'd be willing to send in a pr for this?

[2017-09-12 12:03] niemyjski commented on #158
@majian159 have you run into any issues with our nightly nuget package?

[2017-09-12 12:06] niemyjski commented on #60
Currently if you'd like to override the title or make extra changes, you'd need to source import the code for this and then pass false to the Register call to not show the dialog, then wire up your own as shown here (https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Platforms/Exceptionless.Wpf/ExceptionlessWpfExtensions.cs#L49-L58)

[2017-09-20 23:30] #47 closed

[2017-09-20 23:30] niemyjski commented on #158
I'm closing this as it's in master, just needs to be deployed.

[2017-09-20 23:30] #158 closed

[2017-09-20 23:31] niemyjski commented on #152
@EricZimmerman have you made any more changes to this?

[2017-09-20 23:31] EricZimmerman commented on #152
Not recently. The last time I used it I still saw timeouts here and there
tho.

On Sep 20, 2017 6:31 PM, "Blake Niemyjski" <notifications@github.com> wrote:

[2017-09-20 23:32] niemyjski commented on #143
@MihaMarkic would you mind submitting a pr for this? In the mean time I'm going to close this to keep the issues clean.

[2017-09-20 23:32] #143 closed

[2017-09-20 23:33] niemyjski commented on #104
This is merged into master :)

[2017-09-20 23:33] #104 closed

[2017-09-20 23:33] niemyjski commented on #134
@BillHenning can you please try the nightly builds to see if this any better with net standard 2.0 support

[2017-09-20 23:40] niemyjski commented on #152
What kind of timeouts?

[2017-09-20 23:41] EricZimmerman commented on #152
Same as before. I call the rest API 3 times and it times out.

On Sep 20, 2017 6:40 PM, "Blake Niemyjski" <notifications@github.com> wrote:

[2017-09-21 12:15] BillHenning commented on #134
Still no workie... but I think it's because .NET Standard 2.0 isn't supported on UWP yet until Fall Creator's Update:
https://blogs.msdn.microsoft.com/dotnet/2017/08/25/uwp-net-standard-2-0-preview/

Remind me in a few weeks once that is out and I can look.

[2017-09-21 12:49] niemyjski commented on #152
I really wish we could get this under a unit test using the native http client, because that is crazy behavior.

[2017-09-21 12:49] niemyjski commented on #152
Have you followed up with service stack to see if they have seen this issue before?

[2017-09-21 16:34] EricZimmerman commented on #152
I haven't but I've moved billions of messages across it in other projects.

On Sep 21, 2017 7:49 AM, "Blake Niemyjski" <notifications@github.com> wrote:

[2017-09-25 02:40] edwardmeng opened #163 "Abstract serialization/deserialization of events and settings."
In the high load environment, the json serialization/deserialization became the bottle neck of performance, There will be too many temporary files kept. Now there is more than 10G, and increased day by day.
So could you please make the serialize/deserialize abstraction, that we can replace the json.net with MessagePack  or ProtoBuf to fix this problem.

[2017-09-26 00:45] niemyjski commented on #163
What kind of serialization issues are you seeing? Are you using in memory storage on the client? If you have this many log messages we recommend only using the in memory storage client. The serialization is abstracted but it's not separated for settings and submission, it's all the same client. If the client was to be changed, then the server side would also need to be updated to support a differe

[2017-09-26 01:15] edwardmeng commented on #163
We are using FolderObjectStorage on the client, and storing the generated files on the SSD partition. In this senario, we have did deep investigation that the serialization/deserialization consumes 80% time in the hole process. So we just wanna replace Json.Net with MessagePack or ProtoBuf in the writing files and reading files, but not submission which leads inconsistent protocol.
Now there is on

[2017-09-26 14:18] niemyjski commented on #163
It would be nice to split out the serializers / storage for settings and events, but I think it would be overkill to split out the serializers for settings storage, settings retrieval, event storage, and event submission. We've said early on, that there is a high cost to pay for using folder / disk storage of events and for high throughput scenarios we do not recommend it as you are taking an extr

[2017-09-27 06:31] edwardmeng commented on #163
In our production, we have inherited and customized the FolderObjectStorage implementation to serialize/deserialize events with MessagePack as following:
[code]
At the same time we did performance testing about it. The testing result is as following:
SSD Hard Disk, Total Throughput 583,740,634

Senario | Total Duration | CPU Usage | Average Throughput | Logging Duration | Performance Lost
------ |

[2017-09-27 21:37] niemyjski commented on #163
Thanks for the benchmarks, Someday it might be nice to have a nuget package for message pack, how did you get logging duration?

[2017-09-28 01:36] edwardmeng commented on #163
MessagePack Logging Duration = MessagePack Total Duration - No Log Total Duration
Json.Net Logging Duration = Json.Net Total Duration - No Log Total Duration

[2017-10-12 14:52] leidegre opened #164 "Isn't this a bug, you're calling an asynchronous action but you are not synchronizing with it?"
https://github.com/exceptionless/Exceptionless.Net/blob/e46241a63af4f6bbbdb31c9aaa4b211dedee5139/src/Platforms/Exceptionless.WebApi/ExceptionlessHandleErrorAttribute.cs#L23

[2017-10-12 14:57] niemyjski commented on #164
I think this could be a bug... Are you seeing any issues relating to this? I think this should be
`WrappedFilter.ExecuteExceptionFilterAsync(actionExecutedContext, cancellationToken).ConfigureAwait(false).GetAwaiter().GetResult();` Is there any chance you could try making this change locally and let me know if you run into any issues. A PR would be greatly appreciated.

[2017-10-12 15:32] leidegre commented on #164
I just stumbled across it as I was reviewing the code while thinking about how to best integrate exceptionless. I've decided to not use the pre-packaged exception filter for various reasons but I think the change you suggested is necessary. I don't have a test case that I can exercise right now.

[2017-10-13 12:30] #164 closed

[2017-10-13 12:30] niemyjski commented on #164
I've fixed this in the nightly which can be downloaded from myget. I'll do some more testing on this but the sample app is working great with this change... If you run into any issues please let us know!

[2017-10-13 12:31] niemyjski commented on #163
Would you be interested in adding a maker interface for serialization of events and updating the client for this. That would make it much easier to swap out the serializer for only the storage and loading of events!

[2017-10-16 03:24] edwardmeng commented on #163
Should I request a pr according to your suggestion, since this will lead many change points. e.g. event post job, folder storage, extension methods.

[2017-10-16 13:19] niemyjski commented on #163
My understanding was this would only affect client file storage. I know we have a single serializer interface and I was thinking about adding a marker interface that inherits from the one we have and that would only be used for loading and saving of events / settings from disk.

[2017-10-18 07:42] leidegre opened #165 "Make Exceptionless.Json private or embed shared code as DLL resources in binaries"
I get why you'd want to lock down what versions of what is being used, not pollute solutions with unnecessary dependencies and I admire the effort to do so. But I have a vanity request/suggestion.

It might be useful to you it might not be but I thought I'd put it up for discussion, I can help with this as well if you think it's a reasonable idea.

I'm annoyed a little bit by the `Exceptionless.Js

[2017-10-18 13:48] niemyjski commented on #165
We can't make it private because then you can't use attributes to do exclusions for serialization (We could probably introduce an interface of our own). Perhaps we can make some more of it internal.

How are you adding exceptionless as a dependency? We only add it to the entry points of our applications so it's not referenced by any core libraries.

@ejsmith thoughts?

[2017-10-18 14:02] ejsmith commented on #165
I’ve run into the same issues where I accidentally use the wrong namespace for Json stuff. I think we could probably make most of the classes internal and then maybe even change the name of some of the attributes for doing things like JsonIgnore. It would be a breaking change, but it may be worth it.

[2017-10-18 17:43] leidegre commented on #165
It would be a welcome change, it's a minor inconvenience, as you say it should only show up in entry points but every now and then it crops up as an accidental mistake. Additionally, a tooling like ReSharper will pick up the type in these DLLs and offer it as a suggestion from time to time.

[2017-10-27 01:56] edwardmeng commented on #163
I have requested pr according to your suggestion. Please refer to #166 . The interface IEventSerializer was created only for the client file storage(FolderObjectStorage & IsolatedStorageObjectStorage) to load and save events except settings. At the same time the DefaultJsonSerializer implemented the interface for the default registration in the dependency injection container.

[2017-10-27 16:43] #163 closed

[2017-10-27 16:44] ejsmith commented on #165
@leidegre would you be able to make this change and submit a PR?

[2017-10-27 16:47] ejsmith commented on #165
I think we could actually internalize the whole thing and then just tell people to either just use `DataMember` or `DataMemberIgnore` attributes to control simple name changes and ignoring members or to use their own serializer.

[2017-10-28 18:11] leidegre commented on #165
@ejsmith if that is the direction you wanna go with, I'm all for it. If you need me to write a code mod and just change everything `Exceptionless.Json` from public to internal, I can certainly do that.

[2017-10-28 22:13] ejsmith commented on #165
@leidegre yeah I think that is what we should do. There is already a script that updates the source here:

https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Exceptionless/update-json.ps1

Would definitely appreciate any help!

[2017-10-30 12:16] leidegre commented on #165
OK, good, I'll build upon that.

[2017-10-30 12:32] niemyjski commented on #163
Thanks for the PR!

[2017-10-30 12:35] niemyjski commented on #165
@leidegre thanks! I just ran into this on Friday and this would be a very welcomed change and greatly appreciated! If you need any assistance please let us know.

[2017-11-02 11:07] zlzforever commented on #158
Could you please build a new package and upload to nuget? This bug cause my project build failed. Thanks a lot.

[2017-11-02 13:17] niemyjski commented on #158
@zlzforever sorry for the delay we've been testing and making changes a couple times a week. It's finishing up and we'll get a release out very soon, maybe even today. Could you try adding a package source for https://www.myget.org/gallery/exceptionless

[2017-11-02 15:32] zlzforever commented on #158
Appreciate  👍

[2017-11-06 07:50] ZhiqiangTao commented on #154
@niemyjski
1.it's mean that I can use the latest 4.0.1955 client to insert about 350~450/ 5 sec logs and without any delay？
2. I updated the exceptionless website from 4.0.1 to 4.1.0 and  4.0.1955 Nuget, I found that the logs wouldn't be inserted into the "\Exceptionless.4.1.2861\wwwroot\App_Data\storage\q", but in "D:\Exceptionless.4.1.2861\wwwroot\App_Data\storage\archive". is this by design? or

[2017-11-06 12:26] niemyjski commented on #154
This is by design, as we can skip a bunch of IO work if we move this to the archive folder by default. The next release will show a big perf improvement and the ones after that even more :)

[2017-11-06 12:29] ZhiqiangTao commented on #154
so cool, look forward to the next release, aha， when can I get the next release?

[2017-11-06 14:22] niemyjski commented on #107
Were pushing netstandard 2.0 release right now which should greatly help with this.

[2017-11-06 14:56] niemyjski commented on #154
We are note sure but we hope real soon, we are doing lots of testing as it's pretty much a rewrite in the sense (Migrated from legacy to asp.net to asp.net core)

[2017-11-06 14:56] niemyjski commented on #158
We've pushed out v4.1.0

[2017-11-14 11:23] niemyjski commented on #165
@leidegre did you have any luck on this? Let us know if there is anything we can do to help

[2017-11-14 12:27] leidegre commented on #165
Actually yes but I've only had a couple of minutes to work on this.

I added this line to the PowerShell script

    $c = $c -replace 'public( (?:static|abstract))? (class|struct|interface|enum)','internal$1 $2'

Which I think gets us 90% there, haven't verified everything though, have to compile things and possibly add some internals visible to attributes. But that's as I've made it given the lit

[2017-11-14 12:32] niemyjski commented on #165
No worries, just wanted to see what is going into the next release :)

Thanks
-Blake Niemyjski

On Tue, Nov 14, 2017 at 6:27 AM, John Leidegren <notifications@github.com>
wrote:

[2017-11-15 07:38] MaxXue opened #169 "A little Bug，Send Email For verification ."
## This's Url link's is for  verification email, buy it does't work. So I find it is lost lost "**!**".
http://192.168.1.125:8004/#/account/verify?token=/qRc0V4ybOji5RGMorEdoJyqqzLqOZhEBhulN1f4C
=============================
# http://192.168.1.125:8004/#!/account/verify?token=/qRc0V4ybOji5RGMorEdoJyqqzLqOZhEBhulN1f4C

================================
SO, please Fixed, thanks.
P.s. I honw my englis

[2017-11-15 14:10] niemyjski commented on #169
Was the ! listed in the base url of the web.config? I think I fixed this yesterday morning in my asp.net core branch but wanted to confirm. If this is not the case and let me know so I can reopen the issue and take a closer look.

[2017-11-15 14:10] #169 closed

[2017-11-16 00:55] MaxXue commented on #169
I don't konw where it's happened? I just konw the web send verification email in my email box. I click the links , it's does't work. I find the link lost "!".
the web.config in my web site . It's ok.
### add key="BaseURL" value="http://192.168.1.125:8004/#"
I just change the Host And Port.
Maybe. the link  lost "!" Or email box remove the "!". sorry I don't konw . i want you konw and  help me to f

[2017-11-16 13:02] niemyjski commented on #169
I've confirmed the #! issue has been resolved in the nightly builds, your fix in the web.config is the right fix.

If you add SmtpFrom to the config it will pick up the setting, we didn't include it there because I didn't think it made sense to be setting it. But perhaps we should add it to the default list. Did that resolve your issue with the email?

[2017-11-17 03:21] MaxXue commented on #169
Yes.It's ok .thank you for you Reply。I hopes it's note waste your times.

[2017-11-17 14:00] niemyjski commented on #169
Never feel like you are wasting our time, we want to hear for you and confirm it is or is not an issue and ensure you are being helped!

[2017-12-03 17:11] bukharin opened #170 "ExceptionLess.AspnetCore for .net standard 2.0"
Hi,

Our application works at asp.net core, but running on .net framework (not all libraries available on .net standard yet). Package `ExceptionLess.Aspnetcore` supports only `.netcore20` instead of `.netstandard20` target and can't be used on .net framework.

I could not find any package for .net standard 2.0.

[2017-12-04 12:33] niemyjski commented on #170
Hello,

The reason the package targets .net core app is because the meta package / dependency for https://www.nuget.org/packages/Microsoft.Extensions.DiagnosticAdapter/  There really is no way for us to just be net standard currently. I however am committing and will deploy a version that also targets full framework

[2017-12-04 12:39] #170 closed

[2017-12-04 13:07] niemyjski commented on #170
A 4.2 release is currently being deployed which resolves this issue :)

[2017-12-17 22:50] snakefoot opened #171 "NLog Target should use Write(LogEventInfo logEvent)"
https://github.com/exceptionless/Exceptionless.Net/blob/0925d4742e28325f17a31290a0fd68e323e93734/src/Platforms/Exceptionless.NLog/ExceptionlessTarget.cs#L36

Should override this method instead:

`protected override void Write(LogEventInfo logEvent)`

Then you don't have to worry about not handling the `AsyncLogEventInfo` correctly (which you don't)

[2017-12-17 22:54] snakefoot opened #172 "NLog Target skip allocation of List when no tags"
https://github.com/exceptionless/Exceptionless.Net/blob/0925d4742e28325f17a31290a0fd68e323e93734/src/Platforms/Exceptionless.NLog/ExceptionlessClientExtensions.cs#L52

No need to allocate `List<string>`-object and inserting into properties-Dictionary, when just wanting to check if any Tags.

[2017-12-17 23:03] ejsmith commented on #171
Agreed. Can you submit a pull request for this change?

[2017-12-17 23:04] ejsmith commented on #172
Agreed with this change as well.

[2017-12-17 23:16] snakefoot opened #173 "NLog Target skip allocation of new dictionary"
https://github.com/exceptionless/Exceptionless.Net/blob/0925d4742e28325f17a31290a0fd68e323e93734/src/Platforms/Exceptionless.NLog/ExceptionlessClientExtensions.cs#L24

Instead it could be done like this, with less allocations:

[code]

[2017-12-17 23:17] snakefoot commented on #171
@ejsmith Just doing code-review. Not using ExceptionLess

[2017-12-17 23:17] snakefoot commented on #172
@ejsmith Just doing code-review. Not using ExceptionLess

[2017-12-17 23:23] snakefoot opened #174 "NLog Target skip allocation of dictionary when no ContextData"
https://github.com/exceptionless/Exceptionless.Net/blob/0925d4742e28325f17a31290a0fd68e323e93734/src/Platforms/Exceptionless.NLog/ExceptionlessClientExtensions.cs#L14

No need to allocate Dictionary-object and inserting into properties-Dictionary, when just wanting to check if any ContextData.

[2017-12-17 23:52] snakefoot commented on #172
Maybe it could be fixed by extending the suggested solution in #173 (Check for propertyKey = "Tags")